<div class="container">
    <div class="card">
        <h2> Lease Payment Head </h2>
        <div class="form-container">
            <!-- left column of the form -->

            <section>
                <div class="p-fluid">

                    <!-- <div class="field">
                        <label for="Lease_code">Lease code</label>
                        <input class="form-control" #Lease_code="ngModel" id="Lease_code" type="text" required
                            pInputText [(ngModel)]="leaserPaymentHead.Lease_code"
                            [ngClass]="{ 'ng-dirty': (Lease_code.invalid && submitted) || (Lease_code.dirty && Lease_code.invalid) }" />
                        <small *ngIf="(Lease_code.invalid && submitted) || (Lease_code.dirty && Lease_code.invalid)"
                            class="p-error">Lease code is required.</small>
                    </div>

                    <div class="field">
                        <label for="Application_No">Application No</label>
                        <input class="form-control" #Application_No="ngModel" id="Application_No" type="text" required
                            pInputText [(ngModel)]="leaserPaymentHead.Application_No"
                            [ngClass]="{ 'ng-dirty': (Application_No.invalid && submitted) || (Application_No.dirty && Application_No.invalid) }" />
                        <small
                            *ngIf="(Application_No.invalid && submitted) || (Application_No.dirty && Application_No.invalid)"
                            class="p-error">Application No is required.</small>
                    </div>

                    <div class="field">
                        <label for="Application_code">Application code</label>
                        <input class="form-control" #Application_code="ngModel" id="Application_code" type="text"
                            required pInputText [(ngModel)]="leaserPaymentHead.Application_code"
                            [ngClass]="{ 'ng-dirty': (Application_code.invalid && submitted) || (Application_code.dirty && Application_code.invalid) }" />
                        <small
                            *ngIf="(Application_code.invalid && submitted) || (Application_code.dirty && Application_code.invalid)"
                            class="p-error">Application code is required.</small>
                    </div>

                    <div class="field">
                        <label for="Todolis_ID">Todolis ID</label>
                        <input class="form-control" #Todolis_ID="ngModel" id="Todolis_ID" type="text" required
                            pInputText [(ngModel)]="leaserPaymentHead.Todolis_ID"
                            [ngClass]="{ 'ng-dirty': (Todolis_ID.invalid && submitted) || (Todolis_ID.dirty && Todolis_ID.invalid) }" />
                        <small *ngIf="(Todolis_ID.invalid && submitted) || (Todolis_ID.dirty && Todolis_ID.invalid)"
                            class="p-error">Todolis ID is required.</small>
                    </div> -->


                    <div class="field">
                        <label for="Lease_Payment_grace_Period">Lease Payment grace Period</label>
                        <input class="form-control" #Lease_Payment_grace_Period="ngModel"
                            id="Lease_Payment_grace_Period" type="number" required pInputText [disabled]="true"
                            [(ngModel)]="leaserPaymentHead.Lease_Payment_grace_Period"
                            [ngClass]="{ 'ng-dirty': (Lease_Payment_grace_Period.invalid && submitted) || (Lease_Payment_grace_Period.dirty && Lease_Payment_grace_Period.invalid) }" />
                        <small
                            *ngIf="(Lease_Payment_grace_Period.invalid && submitted) || (Lease_Payment_grace_Period.dirty && Lease_Payment_grace_Period.invalid)"
                            class="p-error">Lease Payment grace Period is required.</small>
                    </div>

                    <!-- <div  class="form-group row">
                        <label for="LeaseCode" class="col-sm-4 col-form-label" translate>Lease Code</label>
                        <div class="col-sm-8">
                          <input type="text" disabled class="form-control" [(ngModel)]="newLeaseContract.lease_code"
                            name="LeaseCode" id="LeaseCode" [placeholder]="'Lease Code'">
                        </div>
                      </div> -->
                    <div class="field">
                        <label for="Total_lease_amount_to_be_paid">Total lease amount to be paid</label>
                        <input class="form-control" #Total_lease_amount_to_be_paid="ngModel" [disabled]="true"
                            id="Total_lease_amount_to_be_paid" type="number" required pInputText
                            [(ngModel)]="leaserPaymentHead.Total_lease_amount_to_be_paid"
                            [ngClass]="{ 'ng-dirty': (Total_lease_amount_to_be_paid.invalid && submitted) || (Total_lease_amount_to_be_paid.dirty && Total_lease_amount_to_be_paid.invalid) }" />
                        <small
                            *ngIf="(Total_lease_amount_to_be_paid.invalid && submitted) || (Total_lease_amount_to_be_paid.dirty && Total_lease_amount_to_be_paid.invalid)"
                            class="p-error">Total lease amount to be paid is required.</small>
                    </div>


                    <div class="field">
                        <label for="Amount_of_the_annual_lease_payment">Amount of the annual lease payment</label>
                        <input class="form-control" #Amount_of_the_annual_lease_payment="ngModel" [disabled]="true"
                            id="Amount_of_the_annual_lease_payment" type="number" required pInputText
                            [(ngModel)]="leaserPaymentHead.Amount_of_the_annual_lease_payment"
                            [ngClass]="{ 'ng-dirty': (Amount_of_the_annual_lease_payment.invalid && submitted) || (Amount_of_the_annual_lease_payment.dirty && Amount_of_the_annual_lease_payment.invalid) }" />
                        <small
                            *ngIf="(Amount_of_the_annual_lease_payment.invalid && submitted) || (Amount_of_the_annual_lease_payment.dirty && Amount_of_the_annual_lease_payment.invalid)"
                            class="p-error">Amount of the annual lease payment is required.</small>
                    </div>


                    <div class="field">
                        <label for="Lease_period_in_Year">Lease period in Year</label>
                        <input class="form-control" #Lease_period_in_Year="ngModel" id="Lease_period_in_Year"
                            [disabled]="true" type="number" required pInputText
                            [(ngModel)]="leaserPaymentHead.Lease_period_in_Year"
                            [ngClass]="{ 'ng-dirty': (Lease_period_in_Year.invalid && submitted) || (Lease_period_in_Year.dirty && Lease_period_in_Year.invalid) }" />
                        <small
                            *ngIf="(Lease_period_in_Year.invalid && submitted) || (Lease_period_in_Year.dirty && Lease_period_in_Year.invalid)"
                            class="p-error">Lease period in Year is required.</small>
                    </div>

                    <div class="field">
                        <label for="Date_of_final_lease_payment">Date of final lease pyment</label>
                        <input class="form-control" #Date_of_final_lease_payment="ngModel" [disabled]="true"
                            id="Date_of_final_lease_payment" type="date" required pInputText
                            [(ngModel)]="leaserPaymentHead.Date_of_final_lease_payment"
                            [ngClass]="{ 'ng-dirty': (Date_of_final_lease_payment.invalid && submitted) || (Date_of_final_lease_payment.dirty && Date_of_final_lease_payment.invalid) }" />
                        <small
                            *ngIf="(Date_of_final_lease_payment.invalid && submitted) || (Date_of_final_lease_payment.dirty && Date_of_final_lease_payment.invalid)"
                            class="p-error">Date of final lease pyment is required.</small>
                    </div>
                    <div class="field">
                        <label for="Remaining_lease_Payment">Remaining lease Payment</label>
                        <input class="form-control" #Remaining_lease_Payment="ngModel" id="Remaining_lease_Payment"
                            type="number" required pInputText [(ngModel)]="leaserPaymentHead.Remaining_lease_Payment"
                            [disabled]="true"
                            [ngClass]="{ 'ng-dirty': (Remaining_lease_Payment.invalid && submitted) || (Remaining_lease_Payment.dirty && Remaining_lease_Payment.invalid) }" />
                        <small
                            *ngIf="(Remaining_lease_Payment.invalid && submitted) || (Remaining_lease_Payment.dirty && Remaining_lease_Payment.invalid)"
                            class="p-error">Remaining lease Payment is required.</small>
                    </div>
                    <div class="field">
                        <label for="ContractDate">Lease Contract start Date</label>
                        <div class="col-sm-8">
                          <input type="date" [disabled]="disable"  class="form-control"
                            [(ngModel)]="leaserPaymentHead.Contract_date" name="ContractDate" id="ContractDate"
                            [placeholder]="'Contract Date'" #ContractDate="ngModel"
                            [ngClass]="{ 'is-invalid': ContractDate.invalid }" required>
                        </div>
                      </div>
                    <!-- <div class="form-group row">
                        <label for="ContactType" class="col-sm-4 col-form-label" translate>Contact Type</label>
                        <div class="col-sm-8">
                          <select class="form-control" [(ngModel)]="leaserPaymentHead.contact_Type" name="ContactType"
                            id="ContactType" required>
                          
                            <option value="" disabled selected>Select Contract Type</option>
                            <option *ngFor="let contractType of contractTypearray"
                              [value]="contractType.contract_Type">
                              {{ contractType.name }}
                            </option>
                          </select>
                        </div>
                      </div> -->
                </div>
            </section>
            <!-- right column of the form -->
            <section>

                <div class="p-fluid">


                    <div class="field">
                        <label for="Customer_Type">Customer Type</label>
                        <input class="form-control" #Customer_Type="ngModel" id="Customer_Type" type="text" required
                            pInputText [(ngModel)]="leaserPaymentHead.Customer_Type" [disabled]="true"
                            [ngClass]="{ 'ng-dirty': (Customer_Type.invalid && submitted) || (Customer_Type.dirty && Customer_Type.invalid) }" />
                        <small
                            *ngIf="(Customer_Type.invalid && submitted) || (Customer_Type.dirty && Customer_Type.invalid)"
                            class="p-error">Customer Type is required.</small>
                    </div>
                    <div class="field">
                        <label for="Transfer_type">Transfer type</label>
                        <input class="form-control" #Transfer_type="ngModel" id="Transfer_type" type="text" required
                            pInputText [(ngModel)]="leaserPaymentHead.Transfer_type" [disabled]="true"
                            [ngClass]="{ 'ng-dirty': (Transfer_type.invalid && submitted) || (Transfer_type.dirty && Transfer_type.invalid) }" />
                        <small
                            *ngIf="(Transfer_type.invalid && submitted) || (Transfer_type.dirty && Transfer_type.invalid)"
                            class="p-error">Transfer type is required.</small>
                    </div>

                    <div class="field">
                        <label for="Proporty_Use">Proporty Use</label>
                        <input class="form-control" #Proporty_Use="ngModel" id="Proporty_Use" type="text" required
                            pInputText [(ngModel)]="leaserPaymentHead.Proporty_Use" [disabled]="true"
                            [ngClass]="{ 'ng-dirty': (Proporty_Use.invalid && submitted) || (Proporty_Use.dirty && Proporty_Use.invalid) }" />
                        <small
                            *ngIf="(Proporty_Use.invalid && submitted) || (Proporty_Use.dirty && Proporty_Use.invalid)"
                            class="p-error">Proporty Use is required.</small>
                    </div>


                    <div class="field">
                        <label for="Lease_Period_end_date">Lease Period end date</label>
                        <input class="form-control" #Lease_Period_end_date="ngModel" id="Lease_Period_end_date"
                            type="date" required pInputText [(ngModel)]="leaserPaymentHead.Lease_Period_end_date"
                            [disabled]="true"
                            [ngClass]="{ 'ng-dirty': (Lease_Period_end_date.invalid && submitted) || (Lease_Period_end_date.dirty && Lease_Period_end_date.invalid) }" />
                        <small
                            *ngIf="(Lease_Period_end_date.invalid && submitted) || (Lease_Period_end_date.dirty && Lease_Period_end_date.invalid)"
                            class="p-error">Lease Period end date is required.</small>
                    </div>


                    <div class="field">
                        <label for="Lease_Payment_Year">Lease Payment Year</label>
                        <input [disabled]="!edityear|| disable" class="form-control" #Lease_Payment_Year="ngModel" id="Lease_Payment_Year" type="number"
                            [disabled]="true" required pInputText [(ngModel)]="leaserPaymentHead.Lease_Payment_Year"
                            [ngClass]="{ 'ng-dirty': (Lease_Payment_Year.invalid && submitted) || (Lease_Payment_Year.dirty && Lease_Payment_Year.invalid) }" />
                        <small
                            *ngIf="(Lease_Payment_Year.invalid && submitted) || (Lease_Payment_Year.dirty && Lease_Payment_Year.invalid)"
                            class="p-error">Lease Payment Year is required.</small>
                    </div>
                    <div class="field">
                        <label for="Is_Active">Is Active</label>
                        <input class="form-control" #Is_Active="ngModel" id="Is_Active" type="text" required pInputText
                            [disabled]="true" [(ngModel)]="leaserPaymentHead.Is_Active"
                            [ngClass]="{ 'ng-dirty': (Is_Active.invalid && submitted) || (Is_Active.dirty && Is_Active.invalid) }" />
                        <small *ngIf="(Is_Active.invalid && submitted) || (Is_Active.dirty && Is_Active.invalid)"
                            class="p-error">Is
                            Active is required.</small>
                    </div>
                   
                    <!-- 
                    <div class="field">
                        <label for="Parent">Parent</label>
                        <input class="form-control" #Parent="ngModel" id="Parent" type="text" required pInputText
                            [(ngModel)]="leaserPaymentHead.Parent"
                            [ngClass]="{ 'ng-dirty': (Parent.invalid && submitted) || (Parent.dirty && Parent.invalid) }" />
                        <small *ngIf="(Parent.invalid && submitted) || (Parent.dirty && Parent.invalid)"
                            class="p-error">Parent is
                            required.</small>
                    </div> -->
                </div>
            </section>
        </div>
        <div class="card-footer"><button type="button" [disabled]="disable" class="btn btn-secondary btn-success" label="Update"
                (click)="updateLeasPaymentHeadData()">Update</button>
                <!-- <button pButton pInputText label="Next" (click)="nextPage()"></button> -->
        </div>
    </div>
    <br>
</div>