<div>
  <ul class="nav nav-tabs">
    <li
      class="nav-item"
      (click)="tab = 'MyTask'"
      [class.active]="tab == 'MyTask'"
    >
      <a class="nav-link" [routerLink]="['/task/MyTask']" translate>My Task</a>
    </li>
    <li
      class="nav-item"
      (click)="tab = 'SupervisorTask'"
      [class.active]="tab == 'SupervisorTask'"
    >
      <a class="nav-link" [routerLink]="['/task/SupervisorTask']" translate
        >Supervisor Task</a
      >
    </li>  <li
      class="nav-item"
      (click)="tab = 'Customer'"
      [class.active]="tab == 'Customer'"
    >
      <a class="nav-link" [hidden]="showcustomer"  [routerLink]="['/task/Customer']" translate
        >Customer</a
      >
    </li>
    <li
      class="nav-item"
      (click)="tab = 'Archive'"
      [class.active]="tab == 'Archive'"
    >
      <a class="nav-link"  [routerLink]="['/task/Archive']" translate
        >Archive</a
      >
    </li>
    <!-- <li class="nav-item" (click)="tab = 'Gis'" [class.active]="tab == 'Gis'">
      <a class="nav-link" [routerLink]="['/task/Gis']" translate>Gis</a>
    </li>
    <li class="nav-item" (click)="tab = 'Gis'" [class.active]="tab == 'Gis'">
      <a class="nav-link" [routerLink]="['/task/draw']" translate>Draw</a>
    </li>
  -->
    <li class="nav-item" (click)="tab = 'Gis'" [class.active]="tab == 'Gis'">
      <a class="nav-link" [routerLink]="['/task/Gis/Arada_AddisLand']" translate>Gis</a>
    </li> 
  </ul>
  <router-outlet></router-outlet>
</div>
