<!-- <form *ngIf="deedform" #f="ngForm" novalidate name="titledeedForm">
  <div class="form-row">

    <div class="form-group row col-md-7">
      <label for="Ownership_ID" class="col-sm-3 col-form-label" translate>Licenses id</label>
      <div class="col-sm-9">

        <input type="text" class="form-control" [(ngModel)]="titleDeedRegistration.Ownership_ID" name="Ownership_ID"
          id="Ownership_ID" [placeholder]="'Transfer ID' | translate" #Ownership_ID="ngModel"
          [ngClass]="{ 'is-invalid': Ownership_ID.invalid }" required>
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="PropertyID" class="col-sm-3 col-form-label" translate>Property ID</label>
      <div class="col-sm-9">
        <input type="text" disabled class="form-control" [disabled]="disable"
          [(ngModel)]="titleDeedRegistration.Property_ID" name="PropertyID" id="PropertyID"
          [placeholder]="'Property ID' | translate">
      </div>
    </div>
    <div class="form-group row col-md-7" *ngIf="language !== 'amharic'">
      <label for="RegistrationDate" class="col-sm-3 col-form-label" translate>Registration Date</label>
      <div class="col-sm-9">
        <input type="Date" class="form-control" [disabled]="disable" [(ngModel)]="titleDeedRegistration.Date"
          name="RegistrationDate" id="RegistrationDate" [placeholder]="'Registration Date' | translate"
          #RegistrationDate="ngModel" [ngClass]="{ 'is-invalid': RegistrationDate.invalid }" required>
      </div>
    </div>
    <div class="form-group row col-md-7" *ngIf="language === 'amharic'">
      <label for="RegistrationDate" class="col-sm-3 col-form-label" translate>Registration Date</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" readonly [disabled]="disable" [(ngModel)]="titleDeedRegistration.Date"
          name="RegistrationDate" id="RegistrationDate" [placeholder]="'Registration Date' | translate"
          #RegistrationDate="ngModel" [ngClass]="{ 'is-invalid': RegistrationDate.invalid }" required      appDatepickerEthiopian
          (dateEmitter)="selectedDateTime($event,2)" >
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="Customer" class="col-sm-3 col-form-label" translate>Transferred From</label>
      <div class="col-sm-9">
 <select disabled class="form-control" [(ngModel)]="leaseOwnerShip.Customer_ID" name="Customert" id="Customert">
          <option disabled translate>select</option>
          <option *ngFor="let Customer of customerdata;" [value]="Customer.Customer_ID">
            {{language === 'amharic' ? Customer.applicant_First_Name_AM  + '  '+ Customer.applicant_Middle_Name_AM  + ' '+ Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN  + '  '+ Customer.applicant_Middle_Name_En  + ' '+ Customer.applicant_Last_Name_EN}}
          </option>
        </select>
        <input type="text" disabled class="form-control"  [(ngModel)]="Customer_NAME" name="Customer_NAME">
        <input type="text" [hidden]="true" class="form-control" #Customert="ngModel" [(ngModel)]="titleDeedRegistration.Transfer_From_Customer"
          name="Photo" id="NumberOfLift" [placeholder]="'Transferred From' | translate" required>
        <div *ngIf="Customert.invalid">
          <span class="text-danger" translate>REQUIRED</span>
        </div>

        <div class="col-sm-2">
          <button type="button" *ngIf="!disable" class="btn btn-secondary" (click)="visible=true"
            translate>Select Customer</button>
        </div>
      </div>
    </div>
 <div class="form-group row col-md-7">
      <label for="Customer" class="col-sm-3 col-form-label" translate>Transferred To</label>
      <div class="col-sm-9">
    <select disabled class="form-control" [(ngModel)]="leaseOwnerShip.Customer_ID" name="Customert" id="Customert">
          <option disabled translate>select</option>
          <option *ngFor="let Customer of customerdata;" [value]="Customer.Customer_ID">
            {{language === 'amharic' ? Customer.applicant_First_Name_AM  + '  '+ Customer.applicant_Middle_Name_AM  + ' '+ Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN  + '  '+ Customer.applicant_Middle_Name_En  + ' '+ Customer.applicant_Last_Name_EN}}
          </option>
        </select> 
        <input type="text" disabled class="form-control"  [(ngModel)]="Customer_NAMEe" name="Customer_NAME">
        <input type="text" [hidden]="true" class="form-control" #Customertt="ngModel" [(ngModel)]="titleDeedRegistration.Transfer_To_Customer"
          name="Photo" id="NumberOfLift" [placeholder]="'Transferred To' | translate" required>
        <div *ngIf="Customertt.invalid">
          <span class="text-danger" translate>REQUIRED</span>
        </div>

        <div class="col-sm-2">
          <button type="button" *ngIf="!disable" class="btn btn-secondary" (click)="visiblee=true"
            translate>Select Customer</button>
        </div>
      </div>
    </div>

    <div class="form-group row col-md-7" *ngIf="titleDeedRegistrationList && titleDeedRegistrationList != 'undefined' && titleDeedRegistrationList.length>0 && ((!titleDeedRegistration.Parent_Deed_ID && isnew)|| (titleDeedRegistration.Parent_Deed_ID && !isnew)) ">
      <label for="ParentDeedID" class="col-sm-3 col-form-label" translate>Parent Deed ID</label>
      <div class="col-sm-9">
        <select class="form-control" [disabled]="disable" [(ngModel)]="titleDeedRegistration.Parent_Deed_ID"
          name="ParentDeedID" id="ParentDeedID" #ParentDeedID="ngModel"
          [ngClass]="{ 'is-invalid': ParentDeedID.invalid }" required>
          <option disabled translate>select</option>
          <option *ngFor="let deed of titleDeedRegistrationList;" [value]="deed.Ownership_ID">{{deed.Ownership_ID}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="IsActive" class="col-sm-3 col-form-label" translate>Is Active</label>
      <div class="col-sm-8">
        <p-checkbox [disabled]="disable" [(ngModel)]="titleDeedRegistration.Is_Active" name="IsActive" id="IsActive"
          binary="true" ></p-checkbox>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" *ngIf="!isnew && !disable" (click)="save();" [disabled]="!f.valid && disable"
    translate>Update</button>
  <button type="button" class="btn btn-primary" *ngIf="isnew && !disable" (click)="add()" [disabled]="!f.valid"
    translate>Save</button>
button type="button" class="btn btn-danger ml-3" (click)="Delete()" [disabled]="!f.valid" *ngIf="!isnew && !disable"
    translate>Delete</button>
</form>


<p-table [value]="titleDeedRegistrationList" [paginator]="true" [rows]="1">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" translate>Licenses id</th>
      <th scope="col" translate>Date</th>
      <th scope="col" translate>isActive</th>
      <th scope="col">
        <button type="button" class="btn btn-primary" (click)=" adddeed()" *ngIf="!disable" translate>Add New</button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-deed let-rowData>
    <tr (click)='highlighted = rowData;selectdeed(deed)' class="some-class" tabindex="1"  [class.ui-state-highlight]="rowData === highlighted">
   
      <td>{{deed.Ownership_ID}}</td>
      <td>{{deed.Date}}</td>
      <td>
        <p-checkbox [(ngModel)]="deed.Is_Active" [disabled]="true" name="Is_Paid" id="Is_Paid" binary="true">
        </p-checkbox>
      </td>
      <td>
        <button type="button" class="btn btn-primary" (click)="selectdeed(deed)" *ngIf="!disable"
          translate>Edit</button>
        <button type="button" class="btn btn-primary" (click)="selectdeed(deed)" *ngIf="disable"
          translate>Select</button>
      </td>
    </tr>
  </ng-template>
</p-table> -->

<form *ngIf="deedform" #f="ngForm" novalidate name="titledeedForm">
  <div class="form-row">

    <div class="form-group row col-md-7">
      <label for="Ownership_ID" class="col-sm-3 col-form-label" translate>Transfer id</label>
      <div class="col-sm-9">
    
        <input type="text" [disabled]="disable" class="form-control" [(ngModel)]="titleDeedRegistration.ownership_ID" name="Ownership_ID"
          id="Ownership_ID" [placeholder]="'Transfer ID' | translate"
         readonly
          >
      </div>
    </div>

        <div class="form-group row col-md-7" *ngIf="language !== 'amharic'">
          <label for="RegisterationDate" class="col-sm-3 col-form-label" translate>Registration Date</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" [disabled]="disable" [(ngModel)]="titleDeedRegistration.date"
              name="RegisterationDate" id="RegisterationDate" [placeholder]="'Registeration date' | translate"
              #RegisterationDate="ngModel" [ngClass]="{ 'is-invalid': RegisterationDate.invalid }" required>
          </div>
        </div>
        <div class="form-group row col-md-7" *ngIf="language === 'amharic'">
          <label for="RegisterationDate" class="col-sm-3 col-form-label" translate>Registration Date</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control" [disabled]="disable" [(ngModel)]="titleDeedRegistration.date"
              name="RegisterationDateam" id="RegisterationDateam" [placeholder]="'Registeration date' | translate"
              #RegisterationDateam="ngModel" [ngClass]="{ 'is-invalid': RegisterationDateam.invalid }" required
              appDatepickerEthiopian (dateEmitter)="selectedDateTime($event,1)">
          </div>
        </div>

    <div class="form-group row col-md-7">
      <label for="TransferredFrom" class="col-sm-3 col-form-label" translate>Transferred From</label>
      <div class="col-sm-9">
          <input type="text" class="form-control"  [(ngModel)]="titleDeedRegistration.transfer_From_Customer"
            name="TransferredFromid" id="customer" [placeholder]="'select customer' | translate" hidden
            #TransferredFromid="ngModel"
          [ngClass]="{ 'is-invalid': TransferredFromid.invalid }" required >

        <input type="text" class="form-control" [disabled]="disable"  [(ngModel)]="Transfer_From_CustomerName"
          name="TransferredFrom" id="TransferredFrom" [placeholder]="'select customer' | translate"
        (click)="TransferredFrom=true;TransferredTo=false" readonly 
        >
            <span style="color: red;" *ngIf="TransferredFromid.invalid ">
              required
            </span>

          <!-- <select disabled class="form-control" name="TransferredFrom" id="TransferredFrom"
            [(ngModel)]="titleDeedRegistration.Transfer_From_Customer">
            <option *ngFor="let customer of CustomerLookUP;" [value]="titleDeedRegistration.Transfer_From_Customer">
            {{customer.FullName_AM}}
            </option>
          </select> -->
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="TransferredTo" class="col-sm-3 col-form-label" translate>Transferred To</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="titleDeedRegistration.transfer_To_Customer"
          name="TransferredToid" id="customerto" [placeholder]="'select customer' | translate" hidden
           #TransferredToid="ngModel"
          [ngClass]="{ 'is-invalid': TransferredToid.invalid }" required>
    
        <input type="text" class="form-control" [disabled]="disable" [(ngModel)]="Transfer_To_CustomerName"
          name="TransferredTo" id="TransferredTo" [placeholder]="'select customer' | translate"
          (click)="TransferredTo=true;TransferredFrom=false" readonly
         >
        <span style="color: red;" *ngIf="TransferredToid.invalid ">
          required
        </span>
      
      </div>
    </div>
  <!-- <div class="form-group row col-md-7">
    <label for="ParentDeedID" class="col-sm-3 col-form-label" translate>Parent Deed ID</label>
    <div class="col-sm-9">
      <select class="form-control" [disabled]="disable" [(ngModel)]="titleDeedRegistration.Parent_Deed_ID"
        name="ParentDeedID" id="ParentDeedID" #ParentDeedID="ngModel" [ngClass]="{ 'is-invalid': ParentDeedID.invalid }"
        required>
        <option disabled translate>select</option>
        <option *ngFor="let deed of titleDeedRegistrationList;" [value]="deed.Ownership_ID">{{deed.Ownership_ID}}
        </option>
      </select>
    </div>
  </div> -->
    <div class="form-group row col-md-7">
      <label for="TransferType" class="col-sm-3 col-form-label" translate>Transfer Type</label>
      <div class="col-sm-9">
        <select [disabled]="disable" class="form-control" [(ngModel)]="titleDeedRegistration.transfer_Type" name="TransferType"
          id="TransferType">
          <option disabled translate>select</option>
          <option *ngFor="let TransferType of serviceComponent.TransferTypeLookUP;" [value]="TransferType.Transfer_ID">
            {{TransferType.Type}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="IsActive" class="col-sm-3 col-form-label" translate>Is Active</label>
      <div class="col-sm-8">
        <p-checkbox [(ngModel)]="titleDeedRegistration.is_Active" name="IsActive" id="IsActive"
          binary="true"></p-checkbox>
      </div>
    </div>
  </div>
    <button type="button" class="btn btn-primary" *ngIf="!isnew && !disable" (click)="save();" [disabled]="!f.valid"
      translate>Save</button>
    <button type="button" class="btn btn-primary" *ngIf="isnew && !disable" (click)="confirmsave();" [disabled]="!f.valid"
      translate>Save</button>

</form>


<p-table [value]="titleDeedRegistrationList" [paginator]="true" [rows]="1">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" translate>Ownership Id</th>
      <th scope="col" translate>Date</th>
      <th scope="col" translate>isActive</th>
      <th scope="col">
        <button type="button" class="btn btn-primary" (click)=" adddeed()" *ngIf="!disable" translate>Add New</button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-deed>
    <tr [class.active]="deed.selected">
      <td>{{deed.ownership_ID}}</td>
      <td>{{deed.date}}</td>
      <td>
        <p-checkbox [(ngModel)]="deed.is_Active" [disabled]="true" name="Is_Paid" id="Is_Paid" binary="true">
        </p-checkbox>
      </td>
      <td>
        <button type="button" class="btn btn-primary" (click)="selectdeed(deed)" *ngIf="!disable"
          translate>Edit</button>
        <button type="button" class="btn btn-primary" (click)="selectdeed(deed)" *ngIf="disable"
          translate>Select</button>
      </td>
    </tr>
  </ng-template>
</p-table>





<p-dialog [header]="'Transferred From' | translate" [(visible)]="TransferredFrom" [responsive]="true" [width]="900" [minY]="70"
  [maximizable]="true" [baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'250px'}">

  <div class="modal-body">
    <p-table #dt [value]="customerdata" [paginator]="true" [rows]="5"
      [globalFilterFields]="['TIN','FullName_AM','FullName_EN','Applicant_Mother_Name_AM','Applicant_Mother_Name_EN','Mobile_No']">

      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <div class="input-group mb-3">
              <input type="text" style="border-color: #007bff;" [(ngModel)]="globvar" name="globvar" id="globvar">
              <!-- <input type="text" pInputText [(ngModel)]="phoneNumber" placeholder="Enter phone number...">
           <input type="text" pInputText [(ngModel)]="firstName" placeholder="Enter first name...">
           <input type="text" pInputText [(ngModel)]="lastName" placeholder="Enter last name...">  -->
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" translate (click)="getcustomer(globvar)">Search</button>
              </div>
            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="add()" style="float: right;" translate>Add New</button> -->
          </span>

        </div>
        <!-- <input class="form-control border-end-0 border"   type="text" [placeholder]="'Search'|translate" (input)="cust.filterGlobal($event.target.value, 'contains')"  id="form1" class="form-control"> -->
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>TIN</th>
          <th translate>Full Name</th>
          <th translate>Mother Name</th>
          <th translate>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer let-rowData>
        <tr (click)='highlighted = rowData;closeModal(Customer)' class="some-class" tabindex="1"
          [class.ui-state-highlight]="rowData === highlighted">

          <td>{{Customer.tin}}</td>
          <td>{{ language === 'amharic' ? Customer.applicant_First_Name_AM + ' '+ Customer.applicant_Middle_Name_AM + '
            '+ Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN + ' '+
            Customer.applicant_Middle_Name_En + ' '+ Customer.applicant_Last_Name_EN}}</td>

          <td>{{ language === 'amharic' ? Customer.applicant_Mother_Name_AM:Customer.applicant_Mother_Name_EN }}</td>
          <td>{{Customer.mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="serviceComponent.lode">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="TransferredFrom=false" style="float: right;" translate>Done</button>
</p-dialog>

<p-dialog [header]="'Transferred To' | translate" [(visible)]="TransferredTo" [responsive]="true" [width]="900" [minY]="70"
  [maximizable]="true" [baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'250px'}">

  <div class="modal-body">
    <p-table #dt [value]="customerdataTo" [paginator]="true" [rows]="5"
      [globalFilterFields]="['TIN','FullName_AM','FullName_EN','Applicant_Mother_Name_AM','Applicant_Mother_Name_EN','Mobile_No']">

      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <div class="input-group mb-3">
              <input type="text" style="border-color: #007bff;" [(ngModel)]="globvarto" name="globvar" id="globvar">
              <!-- <input type="text" pInputText [(ngModel)]="phoneNumber" placeholder="Enter phone number...">
           <input type="text" pInputText [(ngModel)]="firstName" placeholder="Enter first name...">
           <input type="text" pInputText [(ngModel)]="lastName" placeholder="Enter last name...">  -->
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" translate (click)="getcustomerTO(globvarto)">Search</button>
              </div>
            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="add()" style="float: right;" translate>Add New</button> -->
          </span>

        </div>
        <!-- <input class="form-control border-end-0 border"   type="text" [placeholder]="'Search'|translate" (input)="cust.filterGlobal($event.target.value, 'contains')"  id="form1" class="form-control"> -->
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>TIN</th>
          <th translate>Full Name</th>
          <th translate>Mother Name</th>
          <th translate>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer let-rowData>
        <tr (click)='highlighted = rowData;closeModalTo(Customer)' class="some-class" tabindex="1"
          [class.ui-state-highlight]="rowData === highlighted">

          <td>{{Customer.tin}}</td>
          <td>{{ language === 'amharic' ? Customer.applicant_First_Name_AM + ' '+ Customer.applicant_Middle_Name_AM + '
            '+ Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN + ' '+
            Customer.applicant_Middle_Name_En + ' '+ Customer.applicant_Last_Name_EN}}</td>

          <td>{{ language === 'amharic' ? Customer.applicant_Mother_Name_AM:Customer.applicant_Mother_Name_EN }}</td>
          <td>{{Customer.mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="serviceComponent.lode">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="TransferredTo=false" style="float: right;" translate>Done</button>
</p-dialog>




<!-- 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Transferred From</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p-table #dt [value]="CustomerLookUP" [paginator]="true" [rows]="5"
      [globalFilterFields]="['tin','FullName_AM','FullName_EN','applicant_Mother_Name_AM','applicant_Mother_Name_EN','mobile_No']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>TIN</th>
          <th>Full Name AM</th>
          <th>Full Name EN</th>
          <th>Mother Name AM</th>
          <th>Mother Name EN</th>
          <th>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer>
        <tr (click)="closeModal(Customer)">
          <td>{{Customer.tin}}</td>
          <td>{{Customer.FullName_AM}}</td>
          <td>{{Customer.FullName_EN}}</td>
          <td>{{Customer.applicant_Mother_Name_AM}}</td>
          <td>{{Customer.applicant_Mother_Name_EN}}</td>
          <td>{{Customer.mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>


  </div>
</ng-template>

<ng-template #templateto>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Transferred To</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p-table #dt [value]="CustomerLookUP" [paginator]="true" [rows]="5"
      [globalFilterFields]="['tin','FullName_AM','FullName_EN','applicant_Mother_Name_AM','applicant_Mother_Name_EN','mobile_No']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>TIN</th>
          <th>Full Name AM</th>
          <th>Full Name EN</th>
          <th>Mother Name AM</th>
          <th>Mother Name EN</th>
          <th>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer>
        <tr (click)="closeModalTo(Customer)">
          <td>{{Customer.tin}}</td>
          <td>{{Customer.FullName_AM}}</td>
          <td>{{Customer.FullName_EN}}</td>
          <td>{{Customer.applicant_Mother_Name_AM}}</td>
          <td>{{Customer.applicant_Mother_Name_EN}}</td>
          <td>{{Customer.mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>


  </div>
</ng-template>
 -->

<p-dialog [header]="'Confirmation' | translate" [(visible)]="isconfirmsave" [responsive]="true" [width]="300"
  [minY]="40" [maximizable]="true" [baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'50px'}">
  <p>

    {{msgs}}
  </p>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="isconfirmsave=false;add()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="isconfirmsave=false" label="No"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>