<div class="mt-3">


<div class="col-md-12 row">
  <div class="col-md-6">
    <p-table [value]="basefinal" [paginator]="true" [rows]="5"  class="fit-content-table">
      <ng-template pTemplate="header"><tr>
          <th  scope="col" translate>Title Deed No</th>
          <th  scope="col" translate>Registration Date</th>
          <th  scope="col" translate>Branch</th>
          <th  scope="col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Base let-rowData>
        <tr (click)='highlighted = rowData;SelectBase(Base)' class="some-class" tabindex="1"  [class.ui-state-highlight]="rowData === highlighted">
       
          <td class="fit-content-cell">{{Base.Title_Deed_No}}</td>
          <td class="fit-content-cell" >{{Base.Registration_Date}}</td>
          <td>
            <select disabled class="form-control" [disabled]="disable" [(ngModel)]="Base.SDP_ID" name="SubCity"
                    id="SubCity">
              <option disabled translate>select</option>
              <option *ngFor="let SubCity of serviceComponent.ServiceDeliveryUnitLookUP;"
                      [value]="SubCity.organization_code">{{SubCity.name_en}}
              </option>
            </select>
          </td>

          <td>
            <button type="button" class="btn btn-primary" (click)="SelectBase(Base)" translate>select</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
 

  <div class="col-md-6">
    <div *ngIf="loadingPreDoc">
      <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="4">
      </p-progressSpinner>
    </div>
  <div  *ngIf="CertificateVersion">
    <div>

      <p-table [value]="CertificateVersion" [paginator]="true" [rows]="3">
        <ng-template pTemplate="header"><tr>
            <th scope="col" translate>Transfer ID</th>
            <th scope="col" translate>Version ID</th>
            <th scope="col" translate>Title Deed No</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-version let-rowData>
          <tr (click)='highlighted = rowData;Selectversion(version)' class="some-class" tabindex="1"  [class.ui-state-highlight]="rowData === highlighted">
         
            <td class="fit-content-cell" >{{version.ownership_ID}}</td>
            <td class="fit-content-cell" >{{version.version_ID}}</td>
            <td class="fit-content-cell">{{version.title_Deed_No}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="Selectversion(version)" translate>select</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </div>
  </div>

</div>



    <div class="mt-3" *ngIf="certltrview && serviceService.isRecordDocumentationManager">
      <p-table [value]="cerlettrformList" [paginator]="true" [rows]="3">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" translate>Document no</th>
            <th scope="col" translate>Title deed no</th>
            <th scope="col" translate>Registration Date</th>
            <th scope="col">
              <button type="button" class="btn btn-primary" (click)="addcerltter()"   [disabled]="disable_new" translate>Add New</button>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cerltter2 let-rowData>
          <tr (click)='highlighted = rowData;selectcerltter(cerltter2)' class="some-class" tabindex="1"  [class.ui-state-highlight]="rowData === highlighted">
         
            <td>{{cerltter2.document_Number}}</td>
            <td>{{cerltter2.title_Deed_No}}</td>
            <td>{{cerltter2.regstration_Date}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="selectcerltter(cerltter2)"  *ngIf="disable" translate>select</button>
              <button type="button" class="btn btn-primary" (click)="selectcerltter(cerltter2)"  *ngIf="!disable" translate>Edit</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>



  <form class="form-row" #cerlettrform="ngForm" *ngIf="cerlettrform">
    <div class="col-md-6">
      <div class="form-group row col-12" >
      <label  class="col-sm-4 col-form-label" translate>Document No</label>
      <div class="col-sm-8">
      <input class="form-control" [disabled]="disable"   name="DocumentNo" id="DocumentNo" [(ngModel)]="cerltter.document_Number" [placeholder]="'Document No' | translate"
      
      #DocumentNo="ngModel" [ngClass]="{ 'is-invalid': DocumentNo.invalid }" required>
    </div></div>
    <div class="form-group row col-12" *ngIf="isshow">
      <label  class="col-sm-4 col-form-label" translate>Shelf Column</label>
      <div class="col-sm-8">
      <input class="form-control"  [disabled]="disable"   name="ShelfColumn" id="ShelfColumn" [(ngModel)]="cerltter.shelf_Column" [placeholder]="'Shelf Column' | translate">
    </div></div>
      <div class="form-group row col-12" *ngIf="isshow">
      <label  class="col-sm-4 col-form-label" translate>Shelf No</label>      <div class="col-sm-8">
      <input class="form-control" [disabled]="disable"   name="ShelfNo" id="ShelfNo" [(ngModel)]="cerltter.shelf_NO" [placeholder]="'Shelf No' | translate">
    </div></div>
      <div class="form-group row col-12" *ngIf="isshow">
      <label  class="col-sm-4 col-form-label" translate>File Room No</label>      <div class="col-sm-8">
      <input class="form-control"   [disabled]="disable"  name="FileRoomNo" id="FileRoomNo" [(ngModel)]="cerltter.room" [placeholder]="'File Room No' | translate">
    </div></div>
      <div class="form-group row col-12" *ngIf="isshow">
      <label  class="col-sm-4 col-form-label" translate>Shelf Row</label>      <div class="col-sm-8">
      <input class="form-control" [disabled]="disable"   name="ShelfRow" id="ShelfRow" [(ngModel)]="cerltter.shelf_Raw" [placeholder]="'Shelf Row' | translate">
    </div></div>  </div> <div class="col-md-6">
      <div class="form-group row col-12" *ngIf="isshow">
      <label  class="col-sm-4 col-form-label" translate>Block/Floor</label>      <div class="col-sm-8">
      <input class="form-control"  [disabled]="disable"  name="Block/Floor" id="Block/Floor" [(ngModel)]="cerltter.block_Floor" [placeholder]="'Block/Floor' | translate">
    </div></div>
      <div class="form-group row col-12" *ngIf="isshow">
      <label  class="col-sm-4 col-form-label" translate>Site</label>      <div class="col-sm-8">
      <input class="form-control" [disabled]="disable"   name="Site" id="Site" [(ngModel)]="cerltter.site" [placeholder]="'Site' | translate">
    </div></div>
    <!--  <div class="form-group row col-12">
      <label  class="col-sm-4 col-form-label" translate>Date Created</label>
      <input type="date" class="form-control"  name="Block/Floor" id="Date_Created" [(ngModel)]="cerltter.Created_Date" [placeholder]="Date Created">
    </div>-->
    <div class="form-group row col-12"  *ngIf="language !== 'amharic'">
      <label  class="col-sm-4 col-form-label" translate>Regstration Date</label>      <div class="col-sm-8">
      <input type="date" class="form-control"  [disabled]="disable"  name="Regstration_Date" id="Regstration_Date" [(ngModel)]="cerltter.regstration_Date" [placeholder]="'Regstration Date' | translate">
    </div>  </div>
    <div  class="form-group row col-12"  *ngIf="language === 'amharic'">
      <label  class="col-sm-4 col-form-label" translate>Regstration Date</label>      <div class="col-sm-8">
      <input type="text" class="form-control" readonly [disabled]="disable"  name="Regstration_Date" id="Regstration_Date" [(ngModel)]="cerltter.regstration_Date" [placeholder]="'Regstration Date' | translate" appDatepickerEthiopian
      (dateEmitter)="selectedDateTime($event,1)">
    </div></div>
      <div class="form-group row col-12">
      <label  class="col-sm-4 col-form-label" translate>Title Deed No</label>      <div class="col-sm-8">
      <input type="text" disabled class="form-control" [disabled]="disable"   name="Title_Deed_No" id="Title_Deed_No " [(ngModel)]="cerltter.title_Deed_No " [placeholder]="'Title Deed No' | translate">
    </div></div>
    <div class=" col-sm-7 pull-right" *ngIf="!isnew">
      <button *ngIf="!disable"  type="button" class="btn btn-primary" (click)="save()"translate>Update</button>
    </div>
    <div class=" col-sm-7 pull-right" *ngIf="isnew">
      <button *ngIf="!disable"  type="button" class="btn btn-primary" (click)="add()" [disabled]="!cerlettrform.valid"  translate>Save</button>
    </div></div>
  </form>


  
  

  <div class="m-3" *ngIf="certltrview" >
    <!-- *ngIf="disable_new" -->

    <button class="m-3 btn btn-primary" type="button" (click)="isLetterPrintingConfirmation=true" translate>Show Letter Printing Confirmation</button>

    <button class="m-3 btn btn-primary" type="button" (click)="isCertifcatePrintforConfirmation=true" translate>Show Certifcate Print for Confirmation</button>
  <div *ngIf="!serviceService.isRecordDocumentationManager && isNewformat">
    <app-cert [disable]="false" (completed)="EnableFins();saveFormm2('{}');" [licenceData]="licenceData" [todoid]="todoID"
        [Certificate_Code]="licenceData.Certificate_Code" [disable]="false" [AppNo]="AppNo"
        [Fields]="prepareCertificateFields" [Isfrompprinttask]="Isfrompprinttask">
      </app-cert>
      </div>
  </div>
 
</div>


 


    <div class="ngxsmartmodal" *ngIf="isLetterPrintingConfirmation">
      <div class="ngxsmartmodal-dialog" [style.max-width]="maxWidth">
        <div class="ngxsmartmodal-dialog-content">
          <div class="ngxsmartmodal-header">
            <!-- Modal header content -->
            <button type="button" class="btn-secondary m-2" (click)="openMiniModal()">-</button>
            <button type="button" class="btn-secondary m-2" (click)="openFullModal()">+</button>
            <button type="button" class="close" (click)="isLetterPrintingConfirmation=false">&times;</button>
            <h5 style="align-items: center;">Letter Printing Confirmation</h5>
          </div>
    
          <div class="ngxsmartmodal-body">
    
            <iframe class="ng-template" width="100%" height="500px" [src]="LetterReportPath"></iframe>
    
    
          </div>
          <div class="ngxsmartmodal-footer">
            <!-- Modal footer content -->
            <div class="modal-footer">
    
              <button type="button" class="btn btn-danger" (click)="isLetterPrintingConfirmation=false"
                translate>Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ngxsmartmodal" *ngIf="isCertifcatePrintforConfirmation">
      <div class="ngxsmartmodal-dialog" [style.max-width]="maxWidth">
        <div class="ngxsmartmodal-dialog-content">
          <div class="ngxsmartmodal-header">
            <!-- Modal header content -->
            <button type="button" class="btn-secondary m-2" (click)="openMiniModal()">-</button>
            <button type="button" class="btn-secondary m-2" (click)="openFullModal()">+</button>
            <button type="button" class="close" (click)="isCertifcatePrintforConfirmation=false">&times;</button>
            <h5 style="align-items: center;">Certifcate Print for Confirmation</h5>
          </div>
    
          <div class="ngxsmartmodal-body">
    
          <iframe class="ng-template" width="100%" height="500px" [src]="certReportPath"></iframe>
    
    
          </div>
          <div class="ngxsmartmodal-footer">
            <!-- Modal footer content -->
            <div class="modal-footer">
    
              <button type="button" class="btn btn-danger" (click)="isCertifcatePrintforConfirmation=false" translate>Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>




  <ngx-smart-modal #Customer identifier="organizations">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Issued By</h4>
    </div>
    <div class="modal-body">
  
  
      <p-table #dt [value]="serviceComponent.orginizationlookup" [paginator]="true" [rows]="5"
        [globalFilterFields]="['Registration_code','geo_location_Y']">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
  
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" [placeholder]="'Global Filter' | translate"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate>Registration_code</th>
            <th translate>Full Name AM</th>
            <th translate>Full Name EN</th>
            <th translate>created_date</th>
            <th translate>geo_location_X</th>
            <th translate>geo_location_Y</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-organizations>
          <tr (click)="closeModal(organizations,'organizations')">
            <td>{{organizations.Registration_code}}</td>
            <td>{{organizations.name_am}}</td>
            <td>{{organizations.name_en}}</td>
            <td>{{organizations.created_date}}</td>
            <td>{{organizations.geo_location_X}}</td>
            <td>{{organizations.geo_location_Y}}</td>
  
          </tr>
        </ng-template>
      </p-table>
  
  
    </div>
  </ngx-smart-modal>