.nsm-dialog {
    max-width:120vw !important;
    max-height:1000vw !important;
  }
  .aaaa{
    background-color: rgb(13, 34, 75) !important;
    color:#f8f7f7 !important;
      }
      
      .ui-state-highlight {
        background:  rgb(101, 255, 12) !important;
        color: white;
      }
      
.fit-content-table {
  table-layout: fixed;
  width: 100%;
}

.fit-content-cell {
  white-space: nowrap;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide overflowed content */
  text-overflow: ellipsis;
  /* Show ellipsis for overflowed text */
  max-width: 100px;
  /* Set a max-width for the cell */
}