<div class="input-group mb-3">
    <input   type="text" style="border-color: #007bff;"   [(ngModel)]="globvar"  name="globvar"
    id="globvar">
    <!-- <input type="text" pInputText [(ngModel)]="phoneNumber" placeholder="Enter phone number...">
   <input type="text" pInputText [(ngModel)]="firstName" placeholder="Enter first name...">
   <input type="text" pInputText [(ngModel)]="lastName" placeholder="Enter last name...">  -->
   <div class="input-group-append">
    <button class="btn btn-primary" type="button" translate  (click)="getdata(globvar)">Search</button>
  </div>
</div>
<input type="file" (change)="selectFolder($event)" webkitdirectory directory multiple>
<!-- <ngx-doc-viewer [url]="pdfSrc" viewer="google"  style="width:100%;height:93vh; overflow-x: auto;"
>
<div>Loading</div>
</ngx-doc-viewer> -->

