<div>
    <!-- <h2>Network and Database Monitoring</h2> -->

    <div class="status">
        <h3>Connectivity Status: <span
                [ngClass]="{'green': connectivityStatus === 'Connected', 'red': connectivityStatus === 'Disconnected', 'yellow': connectivityStatus === 'Error'}">{{
                connectivityStatus }}</span></h3>
    </div>

    <div class="status">
        <h3>Database Status: <span
                [ngClass]="{'green': databaseStatus === 'Online', 'red': databaseStatus === 'Offline', 'yellow': databaseStatus === 'Error'}">{{
                databaseStatus }}</span></h3>
    </div>

    <div class="status">
        <h3>Database Portal Status: <span
                [ngClass]="{'green': databaseportalStatus === 'Online', 'red': databaseportalStatus === 'Offline', 'yellow': databaseportalStatus === 'Error'}">{{
                databaseportalStatus }}</span></h3>
    </div>

    <div class="status">
        <h3>Ping Result: <span
                [ngClass]="{'green': pingResult.includes('Ping successful'), 'red': pingResult === 'Ping failed', 'yellow': pingResult === 'Pinging...'}">{{
                pingResult }}</span></h3>
    </div>

    <div class="status">
        <h3>Network Reliability: <span
                [ngClass]="{'green': networkReliability === 'Reliable', 'red': networkReliability === 'Unreliable', 'yellow': networkReliability === 'Assessment failed'}">{{
                networkReliability }}</span></h3>
    </div>
 
    <!-- New section for download speed -->
    <div class="status">
        <h3>Download Speed: <span [ngClass]="{'green': downloadSpeed > 0, 'red': downloadSpeed === 0}">{{ downloadSpeed
                | number: '1.2-2' }} Mbps</span></h3>
    </div>

    <!-- New section for upload speed -->
    <div class="status">
        <h3>Upload Speed: <span [ngClass]="{'green': uploadSpeed > 0, 'red': uploadSpeed === 0}">{{ uploadSpeed |
                number: '1.2-2' }} Mbps</span></h3>
    </div>
    <!-- <div class="status">
        <h3>LDAP Status: <span
                [ngClass]="{'green': ldapStatus === 'Online', 'red': ldapStatus === 'Offline', 'yellow': ldapStatus === 'Error'}">{{
                ldapStatus }}</span></h3>
    </div> -->
</div>