.sv_main .sv_nav .sv_nav_btn {
    float: right;
    margin: 0 700px;
  }
  .fade{
    opacity: 1  !important;
    background: rgba(0,0,0,.5);
  }
  .modal-content {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
  }
  
  .modal-header {
    background-color: #ff0000;
    color: #fff;
  }
  .modal-body {
    background-color: #f0f0f0;
    color: red;
  }
  .modal-dialog {
    max-width: 300px;
    margin: 1.75rem auto;
  }
  .modal-footer {
    background-color: #f0f0f0;
    
  }
 

.activeSite {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #f4f4f4;
  /* Set background color */
  padding: 10px;
  margin-left: -40px;
  margin-top: 10px;
  /* margin-left: -20px; */
  /* Add some padding */
  border: 1px solid #ccc;
  /* Add a border */
  border-radius: 5px;
  /* Add rounded corners */
  /* Add a subtle shadow */
  max-width: 300px;
  /* Set a maximum width */
}

/* Style the subheadings */
.sub {
  font-size: 1.2em;
  /* Increase font size */
  margin-top: 10px;
  /* Add some space above the subheading */
}

/* Style the list items */
.container {
  list-style: none;
  /* Remove list bullets */
  margin: 5px 0;
  /* Add space around each list item */
}

label {
  display: inline-block;
  /* Make labels appear inline */
}
.north-arrow-control {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 50px;
    height: 60px;
  padding: 5px;
  cursor: pointer;
}