<div>
    <p-table #structure [value]="contractList" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th translate>plot_ID</th>
          <th translate>property_ID</th>
          <th translate>plot_Size_M2</th>
          <!-- <th></th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lease_contract let-rowIndex="rowIndex">
        
         <!-- [ngClass]="{'selected-row': selectedRowIndex === rowIndex}" 
          (click)="selected(lease_contract, rowIndex)" 
          class="some-class" -->
          <tr 
         
          (click)='highlighted = lease_contract;selected(lease_contract, rowIndex)' class="some-class" tabindex="1"
            [class.uistatehighlight]="lease_contract === highlighted">
          <td>{{lease_contract.plot_ID}}</td>
          <td>{{lease_contract.property_ID}}</td>
          <td>{{lease_contract.plot_Size_M2}}</td>
          <!-- <td><button class="btn btn-primary" type="button" 
              (click)="selectRow(rowIndex);selected(lease_contract)"  translate>
              Edit
            </button></td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
  
<div *ngIf="showform" class="m-3">
    <p-tabView (onChange)="tabChanged($event)" [(activeIndex)]="selectedTab1" selected="true">
        <p-tabPanel [header]="'Lease Payment Head'">
            <div class="mt-3">
                <app-lease-payment-head (functionCall)="next()" [AppNo]="AppNo"></app-lease-payment-head>
                <div style="float: right;"> <button type="button" [disabled]="!_service.updated || disable" class="btn btn-primary mr-1"
                        (click)="selectedTab1 = 1;nextClicked()"  translate>Next</button></div>
            </div>
        </p-tabPanel>

        <p-tabPanel [disabled]="true" [header]="'Lease Payment Head Detail'">
            <div class="mt-3">
                <app-lease-payment-head-detail #child (functionCall)="prv()" [AppNo]="AppNo"></app-lease-payment-head-detail>
                <div style="float: left;"> <button type="button" class="btn btn-primary mr-1" (click)="selectedTab1 = 0"
                        translate>previous</button>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>