
<form #f="ngForm" *ngIf ="serviceService.isleaseForm"  novalidate name="leaseform">
  <!--  -->
  <div class="form-row">
    <div class="form-group row col-md-6">
      <label for="LeaseID" class="col-sm-3 col-form-label" translate>Lease ID</label>
      <div class="col-sm-9">
        <input type="text" disabled class="form-control" [(ngModel)]="leaseOwnerShip.ID" name="LeaseID" id="LeaseID"
          [placeholder]="'Lease ID' | translate">
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="FreeHold" class="col-sm-3 col-form-label" translate>Free Hold</label>
      <div class="col-sm-9">

        <input type="text" class="form-control" [disabled]="disable"  [(ngModel)]="leaseOwnerShip.Free_Hold_M2"
          name="FreeHold" id="FreeHold" [placeholder]="'Free Hold' | translate" #FreeHold="ngModel"
          [ngClass]="{ 'is-invalid': FreeHold.invalid }"  appNumberOnly required [readonly]="isfreehole">
          <span *ngIf="FreeHold.invalid " style="color: red;">accept only numbers and float numbers</span>
      
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="Type" class="col-sm-3 col-form-label" translate>Type</label>
      <div class="col-sm-9">
        <select class="form-select"  [disabled]="disable" #mySelect [(ngModel)]="leaseOwnerShip.Type_ID" name="Type" id="Type"
          #Type="ngModel" [ngClass]="{ 'is-invalid': Type.invalid }"  (change)='onOptionsSelected(mySelect.value)'  required>
          <option disabled translate>select</option>
          <option *ngFor="let type of serviceComponent.Lease_Type_Lookup;" [value]="type.Lease_Type_ID">
            {{type.Lease_Type}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="Status" class="col-sm-3 col-form-label" translate>Status</label>
      <div class="col-sm-9">
        <select class="form-select"  [disabled]="disable" [(ngModel)]="leaseOwnerShip.Status" name="Status" id="Status"
          #Status="ngModel" [ngClass]="{ 'is-invalid': Status.invalid }" required>
          <option disabled translate>select</option>
          <option *ngFor="let Status of serviceComponent.Lease_Stuts_Lookup;" [value]="Status.ID">{{Status.Status}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="SubCity" class="col-sm-3 col-form-label" translate>SubCity</label>
      <div class="col-sm-9">
        <select class="form-select"  [disabled]="disable" [(ngModel)]="leaseOwnerShip.SDP_ID" name="SubCity"
          id="SubCity" #SubCity="ngModel" [ngClass]="{ 'is-invalid': SubCity.invalid }" (change)="addLease" disabled>
          <option disabled translate>select</option>
          <option  *ngFor="let SubCity of serviceComponent.ServiceDeliveryUnitLookUP;"
            [value]="SubCity.organization_code">{{SubCity.name_en}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="LandHold" class="col-sm-3 col-form-label" translate>Lease Hold</label>
      <div class="col-sm-9">
    <input type="text" class="form-control" [disabled]="disable" [(ngModel)]="leaseOwnerShip.Lease_Hold_M2" name="LandHold"
      id="LandHold" [placeholder]="'Lease Hold' | translate" #LandHold="ngModel"
      [ngClass]="{ 'is-invalid': LandHold.invalid }" appNumberOnly required  [readonly]="iislease">
       <span *ngIf="LandHold.invalid " style="color: red;">accept only numbers and float numbers</span>
        </div>
    </div>
    <div class="form-group row col-md-6" *ngIf="islease">
      <label for="LeaseContractNo" class="col-sm-3 col-form-label" translate>Lease Contract No</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [disabled]="disable" [(ngModel)]="leaseOwnerShip.Lease_No"
          name="LeaseContractNo" id="LeaseContractNo" [placeholder]="'Lease Contract No' | translate">
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="Customer" class="col-sm-3 col-form-label" translate>Customer</label>
      <div class="col-sm-7">
        <!-- <select disabled class="form-control" [(ngModel)]="leaseOwnerShip.Customer_ID" name="Customert" id="Customert">
          <option disabled translate>select</option>
          <option *ngFor="let Customer of customerdata;" [value]="Customer.Customer_ID">
            {{language === 'amharic' ? Customer.applicant_First_Name_AM  + '  '+ Customer.applicant_Middle_Name_AM  + ' '+ Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN  + '  '+ Customer.applicant_Middle_Name_En  + ' '+ Customer.applicant_Last_Name_EN}}
          </option>
        </select> -->
        <input type="text" disabled class="form-control"  [(ngModel)]="Customer_NAME" name="Customer_NAME">
        <input type="text" [hidden]="true" class="form-control" #Customert="ngModel" [(ngModel)]="leaseOwnerShip.Customer_ID"
          name="Photo" id="NumberOfLift" [placeholder]="'Number of Lift' | translate" required>
        <div *ngIf="Customert.invalid">
          <span class="text-danger" translate>REQUIRED</span>
        </div>

        <div class="col-sm-2">
          <button type="button" *ngIf="!disable" class="btn btn-secondary" (click)="visible=true"
            translate>Select Customer</button>
        </div>
      </div>
    </div>
    <div class="form-group row col-md-6" *ngIf="islease">
      <label for="LeasePrice" class="col-sm-3 col-form-label" translate>Lease Price</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [disabled]="disable" [(ngModel)]="leaseOwnerShip.Lease_Price"
          #LeasePrice="ngModel" name="LeasePrice" id="LeasePrice" [placeholder]="'Lease Price' | translate"
          [ngClass]="{ 'is-invalid': LeasePrice.invalid }" min="0">
      </div>
    </div>


    <div class="form-group row col-md-6" *ngIf="islease">
      <label for="Total_lease_amount_to_be_paid" class="col-sm-3 col-form-label" translate>Total lease amount to be paid</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [disabled]="disable"
          [(ngModel)]="leaseOwnerShip.Total_lease_amount_to_be_paid" #Total_lease_amount_to_be_paid="ngModel"
          name="Total_lease_amount_to_be_paid" id="Total_lease_amount_to_be_paid"
          [placeholder]="'Total lease amount to be paid' | translate"
          [ngClass]="{ 'is-invalid': Total_lease_amount_to_be_paid.invalid }" min="0">
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="LeasePrice" class="col-sm-3 col-form-label" translate>Amount of down payment</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [disabled]="disable"
          [(ngModel)]="leaseOwnerShip.Amount_of_down_payment" #Amount_of_down_payment="ngModel" name="LeasePrice"
          id="Amount_of_down_payment" [placeholder]="'Amount of down payment' | translate"
          [ngClass]="{ 'is-invalid': Amount_of_down_payment.invalid }" min="0">
      </div>
    </div>
    <div class="form-group row col-md-6" *ngIf="islease">
      <label for="LeasePrice" class="col-sm-3 col-form-label" translate>Amount of the annual lease payment</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [disabled]="disable"
          [(ngModel)]="leaseOwnerShip.Amount_of_the_annual_lease_payment" #Amount_of_the_annual_lease_payment="ngModel"
          name="LeasePrice" id="Amount_of_the_annual_lease_payment"
          [placeholder]="'Amount of the annual lease payment' | translate"
          [ngClass]="{ 'is-invalid': Amount_of_the_annual_lease_payment.invalid }" min="0">
      </div>
    </div>
    <div class="form-group row col-md-6" *ngIf="islease">
      <label for="LeasePrice" class="col-sm-3 col-form-label" translate>Lease period in Year</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [disabled]="disable" [(ngModel)]="leaseOwnerShip.Lease_period_in_Year"
          #Lease_period_in_Year="ngModel" name="Lease_period_in_Year" id="Lease_period_in_Year"
          [placeholder]="'Lease period in Year' | translate" [ngClass]="{ 'is-invalid': Lease_period_in_Year.invalid }"
          min="0">
      </div>
    </div>
    <div class="form-group row col-md-6"  *ngIf="language !== 'amharic'">
      <label for="Date_of_final_lease_payment" class="col-sm-3 col-form-label" translate>Date of final lease payment</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" [disabled]="disable"
          [(ngModel)]="leaseOwnerShip.Date_of_final_lease_payment" #Date_of_final_lease_payment="ngModel"
          name="Date_of_final_lease_payment" id="Date_of_final_lease_payment"
          [placeholder]="'Date of final lease payment' | translate"
          [ngClass]="{ 'is-invalid': Date_of_final_lease_payment.invalid }" >
      </div>
    </div>  <div class="form-group row col-md-6"  *ngIf="language === 'amharic'">
      <label for="Date_of_final_lease_payment" class="col-sm-3 col-form-label" translate>Date of final lease payment</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" readonly [disabled]="disable"
          [(ngModel)]="leaseOwnerShip.Date_of_final_lease_payment" #Date_of_final_lease_payment="ngModel"
          name="Date_of_final_lease_payment" id="Date_of_final_lease_payment"
          [placeholder]="'Date of final lease payment' | translate"
          [ngClass]="{ 'is-invalid': Date_of_final_lease_payment.invalid }" appDatepickerEthiopian
          (dateEmitter)="selectedDateTime($event,2)">
      </div>
    </div>


  </div>
  <button type="button" class="btn btn-primary" [disabled]="!f.valid" *ngIf="!addnew && !disable" (click)="confirmupdate()" translate>Update</button>
  <!-- <button type="button" class="btn btn-danger ml-3" [disabled]="!f.valid" *ngIf="!addnew && !disable" (click)="Delete()"
    translate>Delete
  </button> -->
  <button type="button" class="btn btn-primary" [disabled]="!f.valid" *ngIf="addnew && !disable" (click)="confirmsave()"
    translate>Save</button>
</form>

<p-table [value]="tasks" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" translate>Lease ID</th>
      <th scope="col" translate>Plot ID</th>
      <th scope="col" translate>Type</th>
      <th scope="col" translate>Lease Contract No</th>
      <th scope="col" translate>Lease Price</th>
      <!--<th scope="col" translate>free hold</th>-->
      <th scope="col" translate>Lease hold</th>
      <th scope="col">
        <button type="button" class="btn btn-primary" (click)=" addLease()" *ngIf="!disable" translate>Add New</button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lease let-rowData>
  <tr (click)='highlighted = rowData;' class="some-class" tabindex="1"  [class.ui-state-highlight]="rowData === highlighted">
    
      <td>{{lease.ID}}</td>
      <td>{{lease.Plot_ID}}</td>
      <td>{{lease.Type_ID}}</td>
      <td>{{lease.Lease_No}}</td>
      <td>{{lease.Lease_Price}}</td>
     <!--<td>{{lease.Free_Hold_M2}}</td>--> 
      <td>{{lease.Lease_Hold_M2}}</td>
      <td>
        <button type="button" *ngIf="iscanEdite" class="btn btn-primary" (click)="selectLease(lease)" translate>Edit</button>
      </td>
    </tr>
  </ng-template>
</p-table>




<p-dialog [header]="'Customer' | translate" [(visible)]="visible" [responsive]="true" [width]="900" [minY]="70" [maximizable]="true" 
[baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'250px'}">
    
  <div class="modal-body">


    <p-table #dt [value]="customerdata" [paginator]="true" [rows]="5"
      [globalFilterFields]="['TIN','FullName_AM','FullName_EN','Applicant_Mother_Name_AM','Applicant_Mother_Name_EN','Mobile_No']">
    
      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <div class="input-group mb-3">
            <input   type="text" style="border-color: #007bff;"   [(ngModel)]="globvar"  name="globvar"
            id="globvar">
            <!-- <input type="text" pInputText [(ngModel)]="phoneNumber" placeholder="Enter phone number...">
           <input type="text" pInputText [(ngModel)]="firstName" placeholder="Enter first name...">
           <input type="text" pInputText [(ngModel)]="lastName" placeholder="Enter last name...">  -->
           <div class="input-group-append">
            <button class="btn btn-primary" type="button" translate  (click)="getcustomer(globvar)">Search</button>
          </div>
        </div>
        <!-- <button type="button" class="btn btn-primary" (click)="add()" style="float: right;" translate>Add New</button> -->
          </span>
        
        </div>
  <!-- <input class="form-control border-end-0 border"   type="text" [placeholder]="'Search'|translate" (input)="cust.filterGlobal($event.target.value, 'contains')"  id="form1" class="form-control"> -->
      </ng-template>
      <ng-template pTemplate="header">
        <tr >
          <th translate>TIN</th>
          <th translate>Full Name</th>
          <th translate>Mother Name</th>
          <th translate>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer  let-rowData>
        <tr (click)='highlighted = rowData;closeModal(Customer)' class="some-class" tabindex="1"  [class.ui-state-highlight]="rowData === highlighted">
       
          <td>{{Customer.tin}}</td>
          <td>{{ language === 'amharic' ? Customer.applicant_First_Name_AM  + '  '+ Customer.applicant_Middle_Name_AM  + ' '+ Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN  + '  '+ Customer.applicant_Middle_Name_En  + ' '+ Customer.applicant_Last_Name_EN}}</td>
      
          <td>{{ language === 'amharic' ? Customer.applicant_Mother_Name_AM:Customer.applicant_Mother_Name_EN }}</td>
          <td>{{Customer.mobile_No}}</td>
        </tr>
      </ng-template>

    </p-table>
    <div *ngIf="iscustomerdata">
      <p translate>
        {{"there is no customer" | translate}}
      </p>
    </div>
<div *ngIf="serviceComponent.lode">
  <p-progressBar mode="indeterminate"></p-progressBar>
</div>

  </div>
  <button type="button" class="btn btn-primary" (click)="visible=false" style="float: right;" translate>Done</button>
</p-dialog>





<p-dialog [header]="'Confirmation' | translate" [(visible)]="isconfirmupdate" [responsive]="true" [width]="300"
  [minY]="40" [maximizable]="true" [baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'50px'}">
  <p translate>
    {{"Are you sure that you want to update?" | translate}}
  </p>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="isconfirmupdate=false;save()"
      [label]="'yes' | translate"></button>
    <button type="button" pButton icon="pi pi-close" (click)="isconfirmupdate=false" [label]="'no'| translate "
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>


<p-dialog [header]="'Confirmation' | translate" [(visible)]="isconfirmsave" [responsive]="true" [width]="300"
  [minY]="40" [maximizable]="true" [baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'50px'}">
  <p translate>
    {{"Are you sure that you want to save?" | translate}}
  </p>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="isconfirmsave=false;add()"
      [label]="'yes' | translate"></button>
    <button type="button" pButton icon="pi pi-close" (click)="isconfirmsave=false" [label]="'no'| translate "
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>