<form *ngIf="deptForm"  #f="ngForm" novalidate name="deptForm">
  <div class="form-row">

    <div class="form-group row col-md-7">
      <label for="DebtSuspendID" class="col-sm-3 col-form-label" translate>Debt Suspend ID</label>
      <div class="col-sm-9">
        <input disabled type="text" class="form-control" [(ngModel)]="deptSuspensionRecord.id" name="DebtSuspendID"
               id="DebtSuspendID" placeholder="Debt Suspend ID">
      </div>
    </div>
  
    <div class="form-group row col-md-7">
      <label for="VersionID" class="col-sm-3 col-form-label" translate>Version ID</label>
      <div class="col-sm-9">
        <input type="text" disabled class="form-control"  [disabled]="disable" [(ngModel)]="deptSuspensionRecord.certificate_Version_No"
               name="VersionID" id="VersionID" placeholder="Version ID">
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="Title_Deed_No" class="col-sm-3 col-form-label" translate>Title_Deed_No</label>
      <div class="col-sm-9">
        <input type="text" disabled class="form-control" [disabled]="disable"
          [(ngModel)]="deptSuspensionRecord.title_Deed_No" name="Title_Deed_No" id="Title_Deed_No"
          placeholder="Title_Deed_No">
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="SuspendedBy" class="col-sm-3 col-form-label" translate>Suspended By</label>
      <div class="col-sm-7">
        <select  class="form-control"  disabled [(ngModel)]="deptSuspensionRecord.suspended_By"
                name="SuspendedBy"
                id="SuspendedBy">
          <option disabled translate>select</option>
        <option *ngFor="let Customer of customerdata" [value]="Customer.customer_ID">
          {{ language === 'amharic' ? Customer.applicant_First_Name_AM + ' '+ Customer.applicant_Middle_Name_AM + ' '+
          Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN + ' '+ Customer.applicant_Middle_Name_En + ' '+
          Customer.applicant_Last_Name_EN}}
        </option>

        </select>
        
        <div class="col-sm-2">
          <button type="button" *ngIf="!disable" class="btn btn-secondary" (click)="Customerdept=true" translate>Select Customer</button>
        </div>
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="StartDate" class="col-sm-3 col-form-label" translate>Start Date</label>
      <div class="col-sm-9">
        <input type="Date" class="form-control"  [disabled]="disable" [(ngModel)]="deptSuspensionRecord.suspend_Start_Date" name="StartDate"
               id="StartDate" placeholder="Start Date"
               #StartDate="ngModel" [ngClass]="{ 'is-invalid': StartDate.invalid }"  required>
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="EndDate" class="col-sm-3 col-form-label" translate>End Date</label>
      <div class="col-sm-9">
        <input type="Date" class="form-control"  [disabled]="disable" [(ngModel)]="deptSuspensionRecord.suspend_End_Date" name="EndDate"
               id="EndDate" placeholder="End Date" #EndDate="ngModel" [ngClass]="{ 'is-invalid': EndDate.invalid }" [min]="deptSuspensionRecord.suspend_Start_Date" >
      </div>
    </div>


<div class="form-group row col-md-7">
  <label for="SuspendedReason" class="col-sm-3 col-form-label" translate>Suspended Reason</label>
  <div class="col-sm-9">
    <select class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)' #SuspendedReason="ngModel" [ngClass]="{ 'is-invalid': SuspendedReason.invalid }"
      required [disabled]="disable" [(ngModel)]="deptSuspensionRecord.suspend_Reason" name="SuspendedReason"
      id="SuspendedReason">
      <option translate>select</option>
      <option *ngFor="let SuspendedReason of serviceComponent.SuspendedReasonLookUP;" [value]="SuspendedReason.ID">
        {{SuspendedReason.Suspension_Reason}}
      </option>
    </select>

  </div>
</div>
    <div class="form-group row col-md-7">
      <label for="debtSuspendAmount" class="col-sm-3 col-form-label" translate>Debt Suspend Amount</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" 
          [(ngModel)]="deptSuspensionRecord.debt_Suspend_Amount" name="debtSuspendAmount" 
          id="debtSuspendAmount"
          placeholder="debtSuspendAmount" #debtSuspendAmount="ngModel"
          [ngClass]="{ 'is-invalid': debtSuspendAmount.invalid && isBank }"  [required]="isBank" [disabled]="disable">
    
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="LetterRefNo" class="col-sm-3 col-form-label" translate>Letter Ref No</label>
      <div class="col-sm-9">
        <input type="text" class="form-control"  [disabled]="disable" [(ngModel)]="deptSuspensionRecord.letter_Ref_No" name="LetterRefNo"
               id="LetterRefNo"  [placeholder]="'Letter Ref No' | translate"
             #LetterRefNo="ngModel" 
             [ngClass]="{ 'is-invalid': LetterRefNo.invalid }"  required >
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="grade" class="col-sm-3 col-form-label" translate>Grade(ደረጃ)</label>
      <div class="col-sm-9">
        <input type="number" class="form-control"  [disabled]="disable" [(ngModel)]="deptSuspensionRecord.grade" name="grade"
               id="grade"  [placeholder]="'grade' | translate"
             #grade="ngModel" 
             [ngClass]="{ 'is-invalid': grade.invalid }"  required >
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="LetterRefDate" class="col-sm-3 col-form-label" translate>Letter Ref Date</label>
      <div class="col-sm-9">
        <input type="date" class="form-control"  [disabled]="disable" [(ngModel)]="deptSuspensionRecord.letter_Ref_Date" name="LetterRefDate"
               id="LetterRefDate" placeholder="Letter Ref Date">
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="Remark" class="col-sm-3 col-form-label" translate>Remark</label>
      <div class="col-sm-9">
        <textarea class="form-control"  [disabled]="disable" [(ngModel)]="deptSuspensionRecord.remark" name="Remark" id="Remark"
        [placeholder]="'Remark' | translate">

        </textarea>
      </div>
    </div>

<div class="form-group row col-md-7">
    <label class="col-sm-3 col-form-label" for="IsReleased" translate>Is Released</label>
    <div class="col-sm-9">
      <p-checkbox [(ngModel)]="deptSuspensionRecord.is_Released" (click)="selectOption('released')" [disabled]="true" name="Is_Released" id="Is_Released"
        binary="true"></p-checkbox>
    </div>
  </div>
  
  <div class="form-group row col-md-7">
    <label class="col-sm-3 col-form-label" for="IsSuspended" translate>Is Suspended</label>
    <div class="col-sm-9">
    <p-checkbox [(ngModel)]="deptSuspensionRecord.is_Suspended" (click)="selectOption('suspended')" [disabled]="true" name="Is_Suspended" id="Is_Suspended"
      binary="true"></p-checkbox>
    </div>
  </div> 
  <div class="form-group row col-md-7" *ngIf="isdeleted">
    <label class="col-sm-3 col-form-label" for="Is_delete" translate>Is Deleted</label>
    <div class="col-sm-9">
    <p-checkbox [(ngModel)]="deptSuspensionRecord.is_Deleted" (click)="selectOption('is_Deleted')"   name="Is_delete" id="Is_delete"
      binary="true"></p-checkbox>
    </div>
  </div> 
<!-- 
<div class="form-group row col-md-7">
  <label class="col-sm-3 col-form-label" for="IsReleased" translate>Is Released</label>
  <div class="col-sm-9">
    <input class="form-check-input" (change)="selectOption('released')" [value]="deptSuspensionRecord.Is_Released" type="radio" name="radioNoLabel"
      id="radioNoLabel1"  aria-label="..." />
  </div>
</div>

<div class="form-group row col-md-7">
  <label class="col-sm-3 col-form-label" for="IsSuspended" translate>Is Suspended</label>
  <div class="col-sm-9">
    <input class="form-check-input" (change)="selectOption('suspended')" [value]="deptSuspensionRecord.Is_Suspended" type="radio" name="radioNoLabel"
      id="radioNoLabel2"  aria-label="..." />
  </div>
</div> -->


  </div>
  <div class="btn-toolbar" *ngIf="deptSuspensionRecord.id  && !disable && !serviceService.itcanntupdate"><!--
    <button  type="button" class="btn btn-primary mr-2" (click)="add()">New Version</button>-->
    <button type="button" [disabled]="f.invalid"  class="btn btn-primary" (click)="save()" translate>update</button>
  </div>
  <div class="btn-toolbar" *ngIf="!deptSuspensionRecord.id  && !disable && !serviceService.itcanntupdate">
    <button type="button" [disabled]="f.invalid" class="btn btn-primary" (click)="add()" translate>Save</button>
  <div *ngIf="isBank" style="color: red;"> በዋስትና የተያዘ/Collateral dept amount is required</div>
  </div>
</form>


<p-table [value]="deptSuspensionRecordList" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr >
      <th scope="col" translate>Certefcate Version No</th>
      <th scope="col" translate>Is Released</th>
      <th scope="col" translate>Is Suspended</th>
      <th scope="col" translate>Suspension Start Date</th>
      <th scope="col" translate>Suspension End Date</th>
      <th scope="col">
        <button type="button" class="btn btn-primary" (click)=" adddeed()" *ngIf="!disable && !serviceService.itcanntupdate" translate>Add New</button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dept>
    <tr [class.active]="dept == deptSuspensionRecord">
      <td>{{dept.certificate_Version_No}}</td>
      <td>
        <p-checkbox [(ngModel)]="dept.is_Released" [disabled]="true" name="Is_Released" id="Is_Released"
                    binary="true"></p-checkbox>
      <td>
        <p-checkbox [(ngModel)]="dept.is_Suspended" [disabled]="true" name="Is_Suspended" id="Is_Suspended"
                    binary="true"></p-checkbox>
      </td>
      <td>{{dept.suspend_Start_Date}}</td>
      <td>{{dept.suspend_End_Date}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="selectdeed(dept)" translate>Edit</button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- 
<ngx-smart-modal #Customer identifier="Customer">
  <div class="modal-header">
    <h4 class="modal-title pull-left" translate>Suspended By</h4>
  </div>
  <div class="modal-body">


    <p-table #dt [value]="serviceComponent.CustomerBankLookUP" [paginator]="true" [rows]="5"
             [globalFilterFields]="['TIN','FullName_AM','FullName_EN','Applicant_Mother_Name_AM','Applicant_Mother_Name_EN','Mobile_No']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
                 (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>TIN</th>
          <th translate>Full Name AM</th>
          <th translate>Full Name EN</th>
          <th translate>Mother Name AM</th>
          <th translate>Mother Name EN</th>
          <th translate>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer>
        <tr (click)="closeModal(Customer,'Customer')">
          <td>{{Customer.TIN}}</td>
          <td>{{Customer.FullName_AM}}</td>
          <td>{{Customer.FullName_EN}}</td>
          <td>{{Customer.Applicant_Mother_Name_AM}}</td>
          <td>{{Customer.Applicant_Mother_Name_EN}}</td>
          <td>{{Customer.Mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>


  </div>
</ngx-smart-modal> -->

<p-dialog [header]="'Them Customer ID' | translate" [(visible)]="Customerdept" [responsive]="true" [width]="900"
  [minY]="70" [maximizable]="true" [baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'250px'}">

  <div class="modal-body">
    <p-table #dt [value]="customerdata" [paginator]="true" [rows]="5"
      [globalFilterFields]="['tin','FullName_AM','FullName_EN','Applicant_Mother_Name_AM','Applicant_Mother_Name_EN','Mobile_No']">

      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <div class="input-group mb-3">
              <input type="text" style="border-color: #007bff;" [(ngModel)]="globvar" name="globvar" id="globvar">
              <!-- <input type="text" pInputText [(ngModel)]="phoneNumber" placeholder="Enter phone number...">
           <input type="text" pInputText [(ngModel)]="firstName" placeholder="Enter first name...">
           <input type="text" pInputText [(ngModel)]="lastName" placeholder="Enter last name...">  -->
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" translate (click)="getcustomer(globvar)">Search</button>
              </div>
            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="add()" style="float: right;" translate>Add New</button> -->
          </span>

        </div>
        <!-- <input class="form-control border-end-0 border"   type="text" [placeholder]="'Search'|translate" (input)="cust.filterGlobal($event.target.value, 'contains')"  id="form1" class="form-control"> -->
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>TIN</th>
          <th translate>Full Name</th>
          <th translate>Mother Name</th>
          <th translate>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer let-rowData>
        <tr (click)='highlighted = rowData;closeModal(Customer)' class="some-class" tabindex="1"
          [class.ui-state-highlight]="rowData === highlighted">

          <td>{{Customer.tin}}</td>
          <td>{{ language === 'amharic' ? Customer.applicant_First_Name_AM + ' '+ Customer.applicant_Middle_Name_AM + '
            '+ Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN + ' '+
            Customer.applicant_Middle_Name_En + ' '+ Customer.applicant_Last_Name_EN}}</td>

          <td>{{ language === 'amharic' ? Customer.applicant_Mother_Name_AM:Customer.applicant_Mother_Name_EN }}</td>
          <td>{{Customer.mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="serviceComponent.lode">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>

  </div>
  <button type="button" class="btn btn-primary" (click)="Customerdept=false" style="float: right;"
    translate>Done</button>
</p-dialog>