.exploration-license-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.exploration-license-controls {
  height: 100%;
  padding: 0 20px;
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
}
.exploration-license-header {
  padding: 30px 12px;
  font-size: 1.4em;
  font-weight: bold;
  color: #767676;
}
.exploration-license-map-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.datum-title,
.points-title,
.layers-title {
  font-size: 1.2em;
  font-weight: 500;
  color: #9d9d9d;
  border-left-style: solid;
  padding-left: 5px;
}
.datum-options-container,
.points-input {
  margin: 10px 0;
}
.datum-info {
  display: flex;
  color: #4e8162;
}
.exploration-map {
  width: 100%;
  height: 100%;
}
.points-list,
.layers-list {
  background-color: #cdcdcd;
  height: 40vh;
  overflow: auto;
  margin: 15px 0;
  border-style: solid;
  border-width: 1px;
  border-color: #302d2d;
  border-radius: 5px;
}
.individual-point,
.individual-layer {
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8em;
  background-color: #cdcdcd;
}
.individual-point:hover,
.individual-layer:hover {
  transform: scale(0.99);
  filter: brightness(0.8);
}
.exploration-notification {
  display: flex;
  font-size: 0.9em;
}
.warning {
  color: #b3ad68;
}
.error {
  color: #c92d2d;
}
.info {
  color: #499f39;
}
.exploration-layers {
  margin: 15px 0;
}
.light-individual-point,
.light-individual-layer {
  background-color: #efefef;
}
.exploration-controls {
  padding: 0 5px;
  overflow: auto;
  max-height: 100%;
}
.exploration-controls::-webkit-scrollbar,
.layers-list::-webkit-scrollbar,
.points-list::-webkit-scrollbar,
.intersection-dialog::-webkit-scrollbar {
  width: 10px;
}
.exploration-controls::-webkit-scrollbar-track,
.layers-list::-webkit-scrollbar-track,
.points-list::-webkit-scrollbar-track,
.intersection-dialog::-webkit-scrollbar-track {
  border-radius: 30px;
  background-color: #dddddd;
}
.exploration-controls::-webkit-scrollbar-thumb,
.layers-list::-webkit-scrollbar-thumb,
.points-list::-webkit-scrollbar-thumb,
.intersection-dialog::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 30px;
}
.layer-name-input {
  margin-bottom: 10px;
}
.goto-coordinate {
  margin: 10px 0;
}
.utm-coordinates-title,
.dms-coordinates-title {
  color: #767676;
  font-size: 0.9em;
}
.dms-add-btn,
.utm-add-btn {
  margin: 10px 0 5px 0;
}
.xy-input {
  margin: 5px 0;
}
.dd-dms-checkbox {
  margin-top: 10px;
  color: #707070;
  font-size: 0.9em;
}
.intersection-loading {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #919191;
}
.intersection-dialog {
  height: 40vh;
  overflow: auto;
}
.intersection-head-row {
  position: sticky;
  top: -1px;
  background: #fff;
  z-index: 1;
}
.individual-layer,
.individual-point {
  display: flex;
  align-items: center;
}
.delete-layer,
.delete-point {
  color: #cf4242;
  cursor: pointer;
}
.layer-name,
.point-segments {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 5px;
  flex-grow: 1;
}
.individual-intersections:hover {
  background-color: #b6b6b6;
}
