<div class="exploration-license-container">
    <div class="exploration-license-controls">
        <div class="exploration-license-header">
            <span class="exploration-title">
                Gis
            </span>
        </div>
        <div class="exploration-controls">
            <div class="exploration-license-datum">
                <span class="datum-title">
                    Datum
                </span>
                <div class="datum-options-container">
                    <select class="form-control datum-options" [(ngModel)]="selectedDatum"
                        (change)="datumSelected($event)">
                        <option *ngFor="let datum of datums" [value]="datum.value">
                            {{ datum.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="exploration-license-points">
                <span class="points-title">
                    Points
                </span>
                <div *ngIf="showNotification" [ngClass]="[notificationType, 'exploration-notification']">
                    <mat-icon>{{notificationType}}</mat-icon>
                    {{notificationMessage}}
                </div>
                <div class="goto-coordinate">
                    <div class="input-group" *ngIf="selectedDatum">
                        <input type="number" class="form-control" #lng placeholder="lng">
                        <input type="number" class="form-control" #lat placeholder="lat">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" [disabled]="!lng.value || !lat.value"
                                type="button" (click)="goto(lng.value, lat.value)">
                                <span class="pi pi-search"></span>
                                Goto
                            </button>
                        </div>
                    </div>
                </div>
                <div class="points-input">
                    <div class="dd-dms-coordinate" *ngIf="checkCoordinateSystem('DD') || checkCoordinateSystem('DMS')">
                        <div class="input-group" *ngIf="!ddDmsChecked">
                            <input type="number" class="form-control" [(ngModel)]="pointLng" placeholder="lng">
                            <input type="number" class="form-control" [(ngModel)]="pointLat" placeholder="lat">
                            <div class="input-group-append">
                                <button class="btn btn-secondary"
                                    [disabled]="pointLng == null || pointLng == undefined || pointLat == null || pointLat == undefined"
                                    type="button" (click)="addPoint('DD')">
                                    <span class="pi pi-plus"></span>
                                    Add
                                </button>
                            </div>
                        </div>
                        <div class="utm-coordinates" *ngIf="ddDmsChecked">
                            <span class="dms-coordinates-title">Longtitude</span>
                            <div class="input-group">
                                <input type="number" class="form-control" [(ngModel)]="dmsLng.degree" placeholder="deg">
                                <input type="number" class="form-control" [(ngModel)]="dmsLng.minute" placeholder="min">
                                <input type="number" class="form-control" [(ngModel)]="dmsLng.second" placeholder="sec">
                            </div>
                            <span class="dms-coordinates-title">Latitude</span>
                            <div class="input-group">
                                <input type="number" class="form-control" [(ngModel)]="dmsLat.degree" placeholder="deg">
                                <input type="number" class="form-control" [(ngModel)]="dmsLat.minute" placeholder="min">
                                <input type="number" class="form-control" [(ngModel)]="dmsLat.second" placeholder="sec">
                            </div>
                            <button class="btn btn-secondary dms-add-btn" [disabled]="dmsProvided()" type="button"
                                (click)="addPoint('DMS')">
                                <span class="pi pi-plus"></span>
                                Add
                            </button>
                        </div>
                        <div class="dd-dms-checkbox">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="ddDmsChecked" id="dms-coordinate-checkbox"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="dms-coordinate-checkbox">
                                    Degree, Minute, Second
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="utm-coordinates-detail" *ngIf="checkCoordinateSystem('UTM')">
                        <span class="utm-coordinates-title">Utm</span>
                        <div class="input-group xy-input">
                            <input type="number" class="form-control" [(ngModel)]="utmCoordinate.x"
                                placeholder="Easting">
                            <input type="number" class="form-control" [(ngModel)]="utmCoordinate.y"
                                placeholder="Northing">
                        </div>
                        <button class="btn btn-secondary utm-add-btn" [disabled]="utmProvided()" type="button"
                            (click)="addPoint('UTM')">
                            <span class="pi pi-plus"></span>
                            Add
                        </button>
                    </div>
                </div>
                <div class="points-list" *ngIf="selectedDatum">
                    <div *ngFor="let point of polygonPoints; index as i"
                        [ngClass]="{'individual-point': true, 'light-individual-point': i % 2 == 0}"
                        (click)="pointSelected(i)" (mouseover)="pointHovered(i)" (mouseout)="pointMouseOut(i)">
                        <div class="point-segments">
                            <span *ngFor="let segment of point">
                                {{ segment + ', ' }}
                            </span>
                        </div>
                        <span class="pi pi-trash delete-point"
                            (click)="deletePoint(i); $event.stopPropagation()"></span>
                    </div>
                </div>
                <input type="text" class="form-control layer-name-input" *ngIf="selectedDatum" [(ngModel)]="layerName"
                    placeholder="Layer name">
                <div class="btn-group" role="group" *ngIf="selectedDatum">
                    <button type="button" class="btn btn-secondary" [disabled]="polygonPoints.length == 0"
                        (click)="addShape()">
                        <span class="pi pi-plus"></span>
                        Add Layer
                    </button>
                    <button type="button" class="btn btn-outline-danger" [disabled]="polygonPoints.length == 0"
                        (click)="clearShape()">
                        <span class="pi pi-trash"></span>
                        Clear
                    </button>
                </div>
                <div class="datum-info" *ngIf="!selectedDatum">
                    <mat-icon>info</mat-icon>
                    Select a datum from top!
                </div>
            </div>
            <div class="exploration-layers">
                <span class="layers-title">
                    Layers
                </span>
                <div class="layers-list">
                    <div *ngFor="let layer of listOfLayers; index as i"
                        [ngClass]="{'individual-layer': true, 'light-individual-layer': i % 2 == 0}"
                        (click)="layerSelected(layer)" (mouseover)="layerMouseOver(layer)"
                        (mouseout)="layerMouseOut(layer)">
                        <input type="checkbox" checked (change)="toogleLayer($event, layer)"
                            (click)="$event.stopPropagation()">
                        <span class="layer-name">
                            {{layer['layerName']}}
                        </span>
                        <span class="pi pi-trash delete-layer" *ngIf="layer['laterType'] == 'custom'"
                            (click)="deleteLayer(layer, i); $event.stopPropagation()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="exploration-license-map-container">
        <div [id]="mapElementId" class="exploration-map" (click)="mapClicked($event)"></div>
    </div>
</div>
<p-dialog header="Intersecting areas" [(visible)]="intersectingAreaDialog" [style]="{width: '50vw', height: '50vh'}">
    <div *ngIf="checkingIntersection" class="intersection-loading">
        <span class="pi pi-spinner pi-spin"></span>
        Loading...
    </div>
    <div *ngIf="!checkingIntersection" class="intersection-dialog">
        <table class="table">
            <thead>
                <tr class="intersection-head-row">
                    <th scope="col">Region</th>
                    <th scope="col">Zone</th>
                    <th scope="col">Woreda</th>
                    <th scope="col">Area</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let intersectingFeature of intersectingFeatures">
                    <tr *ngIf="intersectingFeature" (mouseover)="intersectionMouseOver(intersectingFeature)"
                        (mouseout)="intersectionMouseOut()" class="individual-intersections">
                        <td>
                            {{ intersectingFeature['feature']['properties']['NAME_1'] ?
                            intersectingFeature['feature']['properties']['NAME_1'] : 'not available' }}
                        </td>
                        <td>
                            {{ intersectingFeature['feature']['properties']['NAME_2'] ?
                            intersectingFeature['feature']['properties']['NAME_2'] : 'not available' }}
                        </td>
                        <td>
                            {{ intersectingFeature['feature']['properties']['NAME_3'] ?
                            intersectingFeature['feature']['properties']['NAME_3'] : 'not availabel' }}
                        </td>
                        <td>
                            {{ meterToKiloMeter(intersectingFeature['area']) }} km<sup>2</sup>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</p-dialog>