<!-- <div  class="container">
    <div class="card">
      <h2>Con_Review Transaction Detail</h2>
      <div class="form-container">
        <section>
          <div class="p-fluid">
            <div class="field">
              <label for="DID">DID</label>
              <input class="form-control" id="DID" type="text" required pInputText [(ngModel)]="transactionDetail.DID" />
            </div>
            <div class="field">
              <label for="Trans_ID">Transaction ID</label>
              <input class="form-control" id="Trans_ID" type="text" required pInputText [(ngModel)]="transactionDetail.Trans_ID" />
            </div>
            <div class="field">
              <label for="collection_Date">Collection Date</label>
              <input class="form-control" id="collection_Date" type="date" required pInputText [(ngModel)]="transactionDetail.collection_Date" />
            </div>
            <div class="field">
              <label for="Location">Location</label>
              <input class="form-control" id="Location" type="text" required pInputText [(ngModel)]="transactionDetail.Location" />
            </div>
            <div class="field">
              <label for="JsonData">JSON Data</label>
              <textarea class="form-control" id="JsonData" required pInputTextarea [(ngModel)]="transactionDetail.JsonData"></textarea>
            </div>
            <div class="field">
              <label for="JsonData_validation">JSON Data Validation</label>
              <textarea class="form-control" id="JsonData_validation" required pInputTextarea [(ngModel)]="transactionDetail.JsonData_validation"></textarea>
            </div>
            <div class="field">
              <label for="JsonData_approve">JSON Data Approve</label>
              <textarea class="form-control" id="JsonData_approve" required pInputTextarea [(ngModel)]="transactionDetail.JsonData_approve"></textarea>
            </div>
            <div class="field">
              <label for="Collected_By">Collected By</label>
              <input class="form-control" id="Collected_By" type="text" required pInputText [(ngModel)]="transactionDetail.Collected_By" />
            </div>
          </div>
        </section>
        <section>
          <div class="p-fluid">
            <div class="field">
              <label for="validated_Gy">Validated By</label>
              <input class="form-control" id="validated_Gy" type="text" required pInputText [(ngModel)]="transactionDetail.validated_Gy" />
            </div>
            <div class="field">
              <label for="approved_By">Approved By</label>
              <input class="form-control" id="approved_By" type="text" required pInputText [(ngModel)]="transactionDetail.approved_By" />
            </div>
            <div class="field">
              <label for="collected_date">Collected Date</label>
              <input class="form-control" id="collected_date" type="date" required pInputText [(ngModel)]="transactionDetail.collected_date" />
            </div>
            <div class="field">
              <label for="validated_date">Validated Date</label>
              <input class="form-control" id="validated_date" type="date" required pInputText [(ngModel)]="transactionDetail.validated_date" />
            </div>
            <div class="field">
              <label for="approved_date">Approved Date</label>
              <input class="form-control" id="approved_date" type="date" required pInputText [(ngModel)]="transactionDetail.approved_date" />
            </div>
            <div class="field">
              <label for="There_Program_Chnage">Program Change</label>
              <input class="form-control" id="There_Program_Chnage" type="checkbox" required pInputText [(ngModel)]="transactionDetail.There_Program_Chnage" />
            </div>
            <div class="field">
              <label for="There_is_Use_chnaged">Use Changed</label>
              <input class="form-control" id="There_is_Use_chnaged" type="checkbox" required pInputText [(ngModel)]="transactionDetail.There_is_Use_chnaged" />
            </div>
          </div>
        </section>
      </div>
  
      <div class="card-footer">
        <button class="btn btn-secondary btn-success" type="button" label="Update" (click)="updateTransactionDetail()">Save</button>
      </div>
    </div>
  </div>
   -->

   <div class="survey-container contentcontainer codecontainer">
    <div [id]="ID" ></div>
  </div>