<form *ngIf="themform">
  <div class="form-row">

    <div class="form-group row col-md-7">
      <label for="CertificateVersionID" class="col-sm-3 col-form-label" translate>Certificate Version ID</label>
      <div class="col-sm-9">
        <input disabled type="text" class="form-control" [disabled]="disable"
               [(ngModel)]="themCertificateVersion.certificate_Version_ID"
               name="CertificateVersionID" id="CertificateVersionID" placeholder="Certificate Version ID">
      </div>
    </div>


    <div class="form-group row col-md-7">
      <label for="fullname" class="col-sm-3 col-form-label" translate>Customer Full Name</label>
      <div class="col-sm-9">
        <input type="text" [disabled]="disable" class="form-control" [(ngModel)]="themCertificateVersion.them_Customer_ID" name="fullname"
          id="fullname" placeholder="full name" >
        <!-- <select  disabled class="form-control"
                [(ngModel)]="themCertificateVersion.Them_Customer_ID" name="ThemCustomerID" id="ThemCustomerID">
          <option disabled translate>select</option>
          <option *ngFor="let Customer of customerdata" [value]="Customer.customer_ID">
            {{ language === 'amharic' ? Customer.applicant_First_Name_AM + ' '+ Customer.applicant_Middle_Name_AM + ' '+
            Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN + ' '+ Customer.applicant_Middle_Name_En + ' '+
            Customer.applicant_Last_Name_EN}}
          </option>
        </select> -->
      </div>

      <div class="col-sm-2">
        <button type="button" *ngIf="!disable" class="btn btn-secondary" (click)="Customerthem=true" translate="">Select Customer</button>
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="Remark" class="col-sm-3 col-form-label" translate>Remark</label>
      <div class="col-sm-9">
        <textarea class="form-control" [disabled]="disable" [(ngModel)]="themCertificateVersion.Rremark" name="Remark"
                  id="Remark"
                  [placeholder]="'Remark' | translate"></textarea>
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="Date" class="col-sm-3 col-form-label" translate>Date</label>
      <div class="col-sm-9">
        <input type="Date" [disabled]="disable" class="form-control" [(ngModel)]="themCertificateVersion.date"
               name="Date" id="Date"
               placeholder="Date">
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="IsActive" class="col-sm-3 col-form-label" translate>Is Active</label>

      <div class="col-sm-9">
        <p-checkbox [disabled]="disable" [(ngModel)]="themCertificateVersion.is_Ative" name="IsActive" id="IsActive"
                    binary="true"></p-checkbox>
      </div>
    </div>
    <!-- <div class="form-group row col-md-7">
       <label for="IsDeleted" class="col-sm-3 col-form-label" translate>Is Deleted</label>
       <div class="col-sm-9">
         <p-checkbox [(ngModel)]="themCertificateVersion.Is_Deleted" name="IsDeleted" id="IsDeleted" binary="true"></p-checkbox>
       </div>
     </div>-->


  </div>
  <button type="button" *ngIf="!isnew && !disable" class="btn btn-primary" (click)="save()" translate>Save</button>
  <button type="button" *ngIf="isnew && !disable" class="btn btn-primary" (click)="add()" translate>Save</button>
  <button type="button" class="btn btn-danger ml-3" (click)="Delete()" *ngIf="!isnew && !disable" translate>Delete
  </button>
</form>


<p-table [value]="themCertificateVersionList" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" translate>Them Customer ID</th>
      <th scope="col" translate>Date</th>
      <th scope="col" translate>Is Active</th>
      <th scope="col">
        <button type="button" class="btn btn-primary" (click)=" addThem()" *ngIf="!disable" translate>Add New</button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-them>
    <tr [class.active]="them == themCertificateVersion">
      <td>{{them.them_Customer_ID}}</td>
      <td>{{them.date}}</td>
      <td>
        <p-checkbox [disabled]="true" [(ngModel)]="them.is_Ative" name="IsActive1" id="IsActive1"
                    binary="true"></p-checkbox>
      </td>
      <td>
        <button type="button" class="btn btn-primary" (click)="selectThem(them)" translate>Edit</button>
      </td>
    </tr>
  </ng-template>
</p-table>


<!-- 
<ngx-smart-modal #Customerthem identifier="Customerthem">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Them Customer ID</h4>
  </div>
  <div class="modal-body">


    <p-table #dt [value]="serviceComponent.CustomerLookUP" [paginator]="true" [rows]="5"
             [globalFilterFields]="['TIN','FullName_AM','FullName_EN','Applicant_Mother_Name_AM','Applicant_Mother_Name_EN','Mobile_No']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
                 (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>TIN</th>
          <th>Full Name AM</th>
          <th>Full Name EN</th>
          <th>Mother Name AM</th>
          <th>Mother Name EN</th>
          <th>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer>
        <tr (click)="closeModal(Customer,'Customerthem')">
          <td>{{Customer.TIN}}</td>
          <td>{{Customer.FullName_AM}}</td>
          <td>{{Customer.FullName_EN}}</td>
          <td>{{Customer.Applicant_Mother_Name_AM}}</td>
          <td>{{Customer.Applicant_Mother_Name_EN}}</td>
          <td>{{Customer.Mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>


  </div>
</ngx-smart-modal> -->


<p-dialog [header]="'Them Customer ID' | translate" [(visible)]="Customerthem" [responsive]="true" [width]="900" [minY]="70" [maximizable]="true" 
[baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'250px'}">

  <div class="modal-body">
    <p-table #dt [value]="customerdata" [paginator]="true" [rows]="5"
      [globalFilterFields]="['tin','FullName_AM','FullName_EN','Applicant_Mother_Name_AM','Applicant_Mother_Name_EN','Mobile_No']">
    
      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <div class="input-group mb-3">
            <input   type="text" style="border-color: #007bff;"   [(ngModel)]="globvar"  name="globvar"
            id="globvar">
            <!-- <input type="text" pInputText [(ngModel)]="phoneNumber" placeholder="Enter phone number...">
           <input type="text" pInputText [(ngModel)]="firstName" placeholder="Enter first name...">
           <input type="text" pInputText [(ngModel)]="lastName" placeholder="Enter last name...">  -->
           <div class="input-group-append">
            <button class="btn btn-primary" type="button" translate  (click)="getcustomer(globvar)">Search</button>
          </div>
        </div>
        <!-- <button type="button" class="btn btn-primary" (click)="add()" style="float: right;" translate>Add New</button> -->
          </span>
        
        </div>
  <!-- <input class="form-control border-end-0 border"   type="text" [placeholder]="'Search'|translate" (input)="cust.filterGlobal($event.target.value, 'contains')"  id="form1" class="form-control"> -->
      </ng-template>
      <ng-template pTemplate="header">
        <tr >
          <th translate>TIN</th>
          <th translate>Full Name</th>
          <th translate>Mother Name</th>
          <th translate>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer  let-rowData>
        <tr (click)='highlighted = rowData;closeModal(Customer)' class="some-class" tabindex="1"  [class.ui-state-highlight]="rowData === highlighted">
       
          <td>{{Customer.tin}}</td>
          <td>{{ language === 'amharic' ? Customer.applicant_First_Name_AM  + '  '+ Customer.applicant_Middle_Name_AM  + ' '+ Customer.applicant_Last_Name_AM : Customer.applicant_First_Name_EN  + '  '+ Customer.applicant_Middle_Name_En  + ' '+ Customer.applicant_Last_Name_EN}}</td>
      
          <td>{{ language === 'amharic' ? Customer.applicant_Mother_Name_AM:Customer.applicant_Mother_Name_EN }}</td>
          <td>{{Customer.mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>
<div *ngIf="serviceComponent.lode">
  <p-progressBar mode="indeterminate"></p-progressBar>
</div>

  </div>
  <button type="button" class="btn btn-primary" (click)="Customerthem=false" style="float: right;" translate>Done</button>
</p-dialog>
