<form *ngIf="themform">
  <div class="form-row">

    <div class="form-group row col-md-7">
      <label for="CertificateVersionID" class="col-sm-3 col-form-label" translate>Certificate Version ID</label>
      <div class="col-sm-9">
        <input disabled type="text" class="form-control" [disabled]="disable"
               [(ngModel)]="themCertificateVersion.Certificate_Version_ID"
               name="CertificateVersionID" id="CertificateVersionID" placeholder="Certificate Version ID">
      </div>
    </div>


    <div class="form-group row col-md-7">
      <label for="ThemCustomerID" class="col-sm-3 col-form-label" translate>Them Customer ID</label>
      <div class="col-sm-9">
        <select  disabled class="form-control"
                [(ngModel)]="themCertificateVersion.Them_Customer_ID" name="ThemCustomerID" id="ThemCustomerID">
          <option disabled translate>select</option>
          <option *ngFor="let customer of serviceComponent.CustomerLookUP;" [value]="customer.Customer_ID">
            {{customer.FullName_EN}}
          </option>
        </select>
      </div>

      <div class="col-sm-2">
        <button type="button" *ngIf="!disable" class="btn btn-secondary" (click)="openModal('Customerthem')" translate="">Select Customer</button>
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="Remark" class="col-sm-3 col-form-label" translate>Remark</label>
      <div class="col-sm-9">
        <textarea class="form-control" [disabled]="disable" [(ngModel)]="themCertificateVersion.Remark" name="Remark"
                  id="Remark"
                  placeholder="Remark"></textarea>
      </div>
    </div>
    <div class="form-group row col-md-7">
      <label for="Date" class="col-sm-3 col-form-label" translate>Date</label>
      <div class="col-sm-9">
        <input type="Date" [disabled]="disable" class="form-control" [(ngModel)]="themCertificateVersion.Date"
               name="Date" id="Date"
               placeholder="Date">
      </div>
    </div>

    <div class="form-group row col-md-7">
      <label for="IsActive" class="col-sm-3 col-form-label" translate>Is Active</label>

      <div class="col-sm-9">
        <p-checkbox [disabled]="disable" [(ngModel)]="themCertificateVersion.Is_Ative" name="IsActive" id="IsActive"
                    binary="true"></p-checkbox>
      </div>
    </div>
    <!-- <div class="form-group row col-md-7">
       <label for="IsDeleted" class="col-sm-3 col-form-label" translate>Is Deleted</label>
       <div class="col-sm-9">
         <p-checkbox [(ngModel)]="themCertificateVersion.Is_Deleted" name="IsDeleted" id="IsDeleted" binary="true"></p-checkbox>
       </div>
     </div>-->


  </div>
  <button type="button" *ngIf="!isnew && !disable" class="btn btn-primary" (click)="save()" translate>Save</button>
  <button type="button" *ngIf="isnew && !disable" class="btn btn-primary" (click)="add()" translate>Save</button>
  <button type="button" class="btn btn-danger ml-3" (click)="Delete()" *ngIf="!isnew && !disable" translate>Delete
  </button>
</form>


<p-table [value]="themCertificateVersionList" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col" translate>Them Customer ID</th>
      <th scope="col" translate>Date</th>
      <th scope="col" translate>Is Active</th>
      <th scope="col">
        <button type="button" class="btn btn-primary" (click)=" addThem()" *ngIf="!disable" translate>Add New</button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-them>
    <tr [class.active]="them == themCertificateVersion">
      <td>{{them.Them_Customer_ID}}</td>
      <td>{{them.Date}}</td>
      <td>
        <p-checkbox [disabled]="true" [(ngModel)]="them.Is_Ative" name="IsActive1" id="IsActive1"
                    binary="true"></p-checkbox>
      </td>
      <td>
        <button type="button" class="btn btn-primary" (click)="selectThem(them)" translate>Edit</button>
      </td>
    </tr>
  </ng-template>
</p-table>


<ngx-smart-modal #Customerthem identifier="Customerthem">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Them Customer ID</h4>
  </div>
  <div class="modal-body">


    <p-table #dt [value]="serviceComponent.CustomerLookUP" [paginator]="true" [rows]="5"
             [globalFilterFields]="['TIN','FullName_AM','FullName_EN','Applicant_Mother_Name_AM','Applicant_Mother_Name_EN','Mobile_No']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
                 (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>TIN</th>
          <th>Full Name AM</th>
          <th>Full Name EN</th>
          <th>Mother Name AM</th>
          <th>Mother Name EN</th>
          <th>mobile Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Customer>
        <tr (click)="closeModal(Customer,'Customerthem')">
          <td>{{Customer.TIN}}</td>
          <td>{{Customer.FullName_AM}}</td>
          <td>{{Customer.FullName_EN}}</td>
          <td>{{Customer.Applicant_Mother_Name_AM}}</td>
          <td>{{Customer.Applicant_Mother_Name_EN}}</td>
          <td>{{Customer.Mobile_No}}</td>
        </tr>
      </ng-template>
    </p-table>


  </div>
</ngx-smart-modal>
