<div>
    <form class="m-10" #f="ngForm" novalidate name="proform">
        <div>
            <fieldset>
                <div class="m-3 row">
                    <!-- First Column -->
                    <div class="col-md-6">
                        <!-- <div class="form-group row">
                            <label for="ID" class="col-sm-4 col-form-label">ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [(ngModel)]="newFreeHoldToLease.ID" name="ID"
                                    id="ID" placeholder="ID">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label for="ContractNO" class="col-sm-4 col-form-label">Contract NO</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Contract_NO" name="ContractNO" id="ContractNO"
                                    placeholder="Contract NO">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label for="CustmerID" class="col-sm-4 col-form-label">Customer ID</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Custmer_ID" name="CustmerID" id="CustmerID"
                                    placeholder="Customer ID">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label for="CustomerFullName" class="col-sm-4 col-form-label">Customer Full Name</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Customer_Full_Name" name="CustomerFullName"
                                    id="CustomerFullName" placeholder="Customer Full Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="SignDate" class="col-sm-4 col-form-label">Sign Date</label>
                            <div class="col-sm-8">
                                <input type="date" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Sign_Date" name="SignDate" id="SignDate"
                                    placeholder="Sign Date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="SignDateEt" class="col-sm-4 col-form-label">Sign Date ET</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Sign_Date_Et" name="SignDateEt" id="SignDateEt"
                                    placeholder="Sign Date ET">
                            </div>
                        </div>

                        <!-- Total Lease Price -->
                        <div class="form-group row">
                            <label for="TotalLeasePrice" class="col-sm-4 col-form-label">Total Lease Price</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Total_Lease_Price" name="TotalLeasePrice"
                                    id="TotalLeasePrice" placeholder="Total Lease Price">
                            </div>
                        </div>
                        <!-- Advance Payment -->
                        <div class="form-group row">
                            <label for="AdvancePayment" class="col-sm-4 col-form-label">Advance Payment</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Advance_payment" name="AdvancePayment"
                                    id="AdvancePayment" placeholder="Advance Payment">
                            </div>
                        </div>
                        <!-- Lease Period in Year -->
                        <div class="form-group row">
                            <label for="LeasePeriodYear" class="col-sm-4 col-form-label">Lease Period in Year</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Lease_period_in_Year" name="LeasePeriodYear"
                                    id="LeasePeriodYear" placeholder="Lease Period in Year">
                            </div>
                        </div>
                        <!-- Lease Period End Date -->
                        <div class="form-group row">
                            <label for="LeasePeriodEndDate" class="col-sm-4 col-form-label">Lease Period End
                                Date</label>
                            <div class="col-sm-8">
                                <input type="date" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Lease_Period_end_date" name="LeasePeriodEndDate"
                                    id="LeasePeriodEndDate" placeholder="Lease Period End Date">
                            </div>
                        </div>
                        <!-- Lease Period End Date ET -->
                        <div class="form-group row">
                            <label for="LeasePeriodEndDateET" class="col-sm-4 col-form-label">Lease Period End Date
                                ET</label>
                            <div class="col-sm-8">
                                <input type="date" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Lease_Period_end_date_ET"
                                    name="LeasePeriodEndDateET" id="LeasePeriodEndDateET"
                                    placeholder="Lease Period End Date ET">
                            </div>
                        </div>
                        <!-- Remaining Lease Payment -->
                        <div class="form-group row">
                            <label for="RemainingLeasePayment" class="col-sm-4 col-form-label">Remaining Lease
                                Payment</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Remaining_lease_payment"
                                    name="RemainingLeasePayment" id="RemainingLeasePayment"
                                    placeholder="Remaining Lease Payment">
                            </div>
                        </div>
                    </div>
                    <!-- Second Column -->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="PlotID" class="col-sm-4 col-form-label">Plot ID</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Plot_ID" name="PlotID" id="PlotID"
                                    placeholder="Plot ID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LandGrad" class="col-sm-4 col-form-label">Land Grad</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Land_grad" name="LandGrad" id="LandGrad"
                                    placeholder="Land Grad">
                            </div>
                        </div>
                        <!-- Second Column (Continued) -->

                        <div class="form-group row">
                            <label for="ConstructionLevel" class="col-sm-4 col-form-label">Construction Level</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Constraction_Level" name="ConstructionLevel"
                                    id="ConstructionLevel" placeholder="Construction Level">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LandSizeM2" class="col-sm-4 col-form-label">Land Size M2</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Land_size_M2" name="LandSizeM2" id="LandSizeM2"
                                    placeholder="Land Size M2">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LandUse" class="col-sm-4 col-form-label">Land Use</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Land_use" name="LandUse" id="LandUse"
                                    placeholder="Land Use">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="PropertyUse" class="col-sm-4 col-form-label">Property Use</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Proprty_use" name="PropertyUse" id="PropertyUse"
                                    placeholder="Property Use">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LeasePrice" class="col-sm-4 col-form-label">Lease Price</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Lease_Price" name="LeasePrice" id="LeasePrice"
                                    placeholder="Lease Price">
                            </div>
                        </div>
                        <!-- Lease Payment Grace Period -->
                        <div class="form-group row">
                            <label for="LeasePaymentGracePeriod" class="col-sm-4 col-form-label">Lease Payment Grace
                                Period</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Lease_Payment_grace_Period"
                                    name="LeasePaymentGracePeriod" id="LeasePaymentGracePeriod"
                                    placeholder="Lease Payment Grace Period">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="AnnualPayment" class="col-sm-4 col-form-label">Annual Payment</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Annual_Payment" name="AnnualPayment"
                                    id="AnnualPayment" placeholder="Annual Payment">
                            </div>
                        </div>
                        <!-- Building Max Height -->
                        <div class="form-group row">
                            <label for="BuildingMaxHeight" class="col-sm-4 col-form-label">Building Max Height</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Building_Max_Hight" name="BuildingMaxHeight"
                                    id="BuildingMaxHeight" placeholder="Building Max Height">
                            </div>
                        </div>
                        <!-- Building Min Height -->
                        <div class="form-group row">
                            <label for="BuildingMinHeight" class="col-sm-4 col-form-label">Building Min Height</label>
                            <div class="col-sm-8">
                                <input type="number" disabled class="form-control"
                                    [(ngModel)]="newFreeHoldToLease.Building_Min_Hight" name="BuildingMinHeight"
                                    id="BuildingMinHeight" placeholder="Building Min Height">
                            </div>
                        </div>
                        <!-- Active -->
                        <div class="form-group row">
                            <label for="Active" class="col-sm-4 col-form-label">Active</label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="newFreeHoldToLease.Active"
                                    name="Active" id="Active" required>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Buttons -->
                <div class="pull-left">
                    <!-- <button type="button" class="btn btn-primary" [disabled]="!f.valid" *ngIf="!isnew && !disable"
                        (click)="updateFreeholdTolease()" translate>Update</button> -->
                        <button type="button" class="btn btn-primary" [disabled]="!f.valid" *ngIf="!isnew && !disable"
                        (click)="updateFreeholdTolease()" translate>Update</button>
                    <!-- <button type="button" class="btn btn-primary" [disabled]="!f.valid" *ngIf="isnew && !disable"
                        (click)="InsertFreeholdToLease()" translate>Save</button> -->
                        <button type="button" class="btn btn-primary" [disabled]="!f.valid" *ngIf="isnew && !disable"
                        (click)="InsertFreeholdToLease()" translate>Save</button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" (click)="isCertifcatePrintforConfirmation=true">View Report</button>
               </div>
                <div class="ngxsmartmodal" *ngIf="isCertifcatePrintforConfirmation">
                    <div class="ngxsmartmodal-dialog" [style.max-width]="maxWidth">
                      <div class="ngxsmartmodal-dialog-content">
                        <div class="ngxsmartmodal-header">
                          <!-- Modal header content -->
                          <button type="button" class="btn-secondary m-2" (click)="openMiniModal()">-</button>
                          <button type="button" class="btn-secondary m-2" (click)="openFullModal()">+</button>
                          <button type="button" class="close" (click)="isCertifcatePrintforConfirmation=false">&times;</button>
                          <h5 style="align-items: center;">View Report</h5>
                        </div>
                  
                        <div class="ngxsmartmodal-body">
                  
                        <iframe class="ng-template" width="100%" height="500px" [src]="ReportPath"></iframe>
                  
                  
                        </div>
                        <div class="ngxsmartmodal-footer">
                          <!-- Modal footer content -->
                          <div class="modal-footer">
                  
                            <button type="button" class="btn btn-danger" (click)="isCertifcatePrintforConfirmation=false" translate>Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </fieldset>
        </div>
    </form>
</div>