

<form #f="ngForm" novalidate name="proform">
 
            

  <div class="form-row">
    <div class="form-group row col-md-6">
      <label for="PlotID" class="col-sm-3 col-form-label" translate>PlotID</label>
      <div class="col-sm-9">
        <input type="text" disabled class="form-control" [(ngModel)]="propertyRegister.plot_ID" name="PlotID"
          id="PlotID" [placeholder]="'PlotID'|translate">
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="NumberOfLift" class="col-sm-3 col-form-label" translate>Number of Lift</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [(ngModel)]="propertyRegister.number_of_Lift" name="NumberOfLift"
          id="NumberOfLift" [placeholder]="'Number of Lift' | translate" [disabled]="disable">
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="PropertyID" class="col-sm-3 col-form-label" translate>Property ID</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="propertyRegister.property_ID" name="PropertyID"
          id="PropertyID" [placeholder]="'Property ID'|translate"
          readonly>
          <!-- #PropertyID="ngModel" [ngClass]="{ 'is-invalid': PropertyID.invalid }" [disabled]="disable" required -->
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="BuildingSize" class="col-sm-3 col-form-label" translate>Building Size (M2)</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [(ngModel)]="propertyRegister.building_Size_M2" name="BuildingSize"
          id="BuildingSize" [placeholder]="'Building Size (M2)' | translate" 
           #BuildingSize="ngModel" appNumberOnly [ngClass]="{ 'is-invalid': BuildingSize.invalid }" [disabled]="disable"  required >
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="Description" class="col-sm-3 col-form-label" translate>Description</label>
      <div class="col-sm-9">
        <textarea class="form-control" [(ngModel)]="propertyRegister.description" name="Description" id="Description"
          [placeholder]="'Description'|translate" [disabled]="disable">

        </textarea>
      </div>
    </div>
        <div class="form-group row col-md-6">
          <label class="col-sm-3 col-form-label" for="Proportional_from_Compound_Size" translate="">Proportional from Compound
            Size</label>
          <div class="col-sm-9">
            <input class="form-control" id="Proportional_from_Compound_Size"  #Proportional_from_Compound_Size="ngModel" 
              name="Proportional_from_Compound_Size" [(ngModel)]="propertyRegister.proportional_from_Compound_Size" [placeholder]="'Proportional from Compound Size'|translate"
               required type="number" appNumberOnly [ngClass]="{ 'is-invalid': Proportional_from_Compound_Size.invalid }" [disabled]="disable">
          </div>
        </div>
    <div class="form-group row col-md-6">
      <label for="PropertyStatus" class="col-sm-3 col-form-label" translate>Property Status</label>
      <div class="col-sm-9">
        <select [disabled]="disable"  class="form-control" [(ngModel)]="propertyRegister.property_Status_ID" name="PropertyStatus"
          id="PropertyStatus"
           #PropertyStatus="ngModel" [ngClass]="{ 'is-invalid': PropertyStatus.invalid }" required>
          <option disabled>select</option>
          <option *ngFor="let PropertyStatus of serviceComponent.PropertyStatusLookUP;"
            [value]="PropertyStatus.P_Status_ID">{{PropertyStatus.Property_Status}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="PropertyType" class="col-sm-3 col-form-label" translate>Property Type</label>
      <div class="col-sm-9">
        <select [disabled]="disable" class="form-control" [(ngModel)]="propertyRegister.property_Type_ID" name="PropertyType"
          id="PropertyType"
            #PropertyType="ngModel" [ngClass]="{ 'is-invalid': PropertyType.invalid }" required>
          <option disabled>select</option>
          <option *ngFor="let PropertyType of serviceComponent.PropertyTypeLookUP;"
            [value]="PropertyType.Property_Type_ID">{{PropertyType.Property_Type}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="TotalCompoundSize" class="col-sm-3 col-form-label" translate>Total Compound Size</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [(ngModel)]="propertyRegister.compound_Size_M2" [disabled]="disable"
          name="TotalCompoundSize" id="TotalCompoundSize" [placeholder]="'Total Compound Size'|translate"
           #TotalCompoundSize="ngModel" appNumberOnly [ngClass]="{ 'is-invalid': TotalCompoundSize.invalid }" required>
      </div>
    </div>
      <div class="form-group row col-md-6"><label class="col-sm-3 col-form-label" for="Size_In_Proportional" translate="">Size
          In Proportional</label>
        <div class="col-sm-9">
          <input class="form-control" id="Size_In_Proportional" name="Size_In_Proportional" [disabled]="disable"
            [(ngModel)]="propertyRegister.size_In_Proportional" [placeholder]="'Size In Proportional'|translate" type="number"
            #Size_In_Proportional="ngModel" appNumberOnly [ngClass]="{ 'is-invalid': Size_In_Proportional.invalid }" required>
        </div>
      </div>
    <div class="form-group row col-md-6">
      <label for="BasementFloor" class="col-sm-3 col-form-label" translate>Basement Floor</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="propertyRegister.basement_Floor_No" name="BasementFloor"
          id="BasementFloor" [placeholder]="'Basement Floor'|translate" [disabled]="disable">
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="PropertyParent" class="col-sm-3 col-form-label" translate>Property Parent</label>
      <div class="col-sm-9">
        <!--<input type="text" class="form-control"   name="PropertyParent"  id="PropertyParent" placeholder="Property Parent">-->


        <select disabled class="form-control" [(ngModel)]="propertyRegister.property_Parent_ID" name="PropertyParent"
          id="PropertyParent">
          <option disabled>select</option>
          <option *ngFor="let Property of propertyComponent.PropertyList;" [value]="Property.property_ID">
            {{Property.property_ID}}</option>
        </select>

      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="UpperFloor" class="col-sm-3 col-form-label" translate>Upper Floor</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="propertyRegister.upper_Floor_No" name="UpperFloor"
          id="UpperFloor" [placeholder]="'Upper Floor'|translate" [disabled]="disable">
      </div>
    </div>
   <div class="form-group row col-md-6" *ngIf="isnew">
      <label class="col-sm-3 col-form-label" translate>Map Plan</label>
      <div class="col-sm-9">
        <p-fileUpload *ngIf="!disable" #form customUpload="true" (uploadHandler)="upload($event,form)"
          maxFileSize="25000000" accept="image/*"></p-fileUpload>

        <input type="hidden" class="form-control" [(ngModel)]="propertyRegister.map_Floor_Plan" name="MapFloorPlan"
          id="MapFloorPlan" [placeholder]="'Map Floor Plan' | translate" #MapFloorPlan="ngModel" required>
        <div *ngIf="MapFloorPlan.invalid">
          <span translate class="text-danger">Requierd</span>
        </div>
        <div *ngIf="pictoShow">
          <button type="button" class="btn btn-primary" (click)="openModal('pic')" translate>Show</button>
        </div>
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="ParkingSize" class="col-sm-3 col-form-label" translate>Parking size</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [(ngModel)]="propertyRegister.parking_Area_M2" name="ParkingSize"
          id="ParkingSize" [placeholder]="'Parking size'|translate"
          #ParkingSize="ngModel" appNumberOnly 
          [ngClass]="{ 'is-invalid': ParkingSize.invalid }" [disabled]="disable" required>
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="HouseNo" class="col-sm-3 col-form-label" translate>House No</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" [(ngModel)]="propertyRegister.houseNo" name="HouseNo" id="HouseNo"
          [placeholder]="'House No'|translate" [disabled]="disable">
      </div>
    </div>
    <div class="form-group row col-md-6">
      <label for="estimatedPrice" class="col-sm-3 col-form-label" translate>Estimated Price</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="estimatedPrice" id="estimatedPrice"  [(ngModel)]="propertyRegister.estimated_Price" 
          appNumberOnly [placeholder]="'Estimated Price'|translate" [disabled]="disable"
        #estimatedPrice="ngModel" 
          [ngClass]="{ 'is-invalid': estimatedPrice.invalid }" required>
          <span *ngIf="estimatedPrice.invalid" style="color: red;">required</span>
      </div>
    </div>
  
            <div class="form-group row col-md-6" *ngIf="language !== 'amharic'">
              <label for="RegisterationDate" class="col-sm-3 col-form-label" translate>Registration Date</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" [disabled]="disable" [(ngModel)]="propertyRegister.registration_Date"
                  name="RegisterationDate" id="RegisterationDate" [placeholder]="'Registeration date' | translate"
                  #RegisterationDate="ngModel" [ngClass]="{ 'is-invalid': RegisterationDate.invalid }" [disabled]="disable" required>
              </div>
            </div>
            <div class="form-group row col-md-6" *ngIf="language === 'amharic'">
              <label for="RegisterationDateto" class="col-sm-3 col-form-label" translate>Registration Date</label>
              <div class="col-sm-9">
                <input type="text" readonly class="form-control" [disabled]="disable" [(ngModel)]="propertyRegister.registration_Date"
                  name="RegisterationDateto" id="RegisterationDatetto" [placeholder]="'Registeration date' | translate"
                  #RegisterationDateto="ngModel" [ngClass]="{ 'is-invalid': RegisterationDateto.invalid }" [disabled]="disable" required
                  appDatepickerEthiopian (dateEmitter)="selectedDateTime($event,1)">
              </div>
            </div>
    <!-- <div class="form-group row col-md-6"><label class="col-sm-3 col-form-label" for="LocationName" translate="">Location
        Name</label>
      <div class="col-sm-9"><input class="form-control" id="LocationName"
          name="LocationName" placeholder="Location Name" type="text" [(ngModel)]="propertyRegister.LocationName"></div>
    </div> -->
    
    <div class="form-group row col-md-6"><label class="col-sm-3 col-form-label" for="Building_No" translate="">Building
        No</label>
      <div class="col-sm-9">
        <input class="form-control" id="Building_No"
          name="Building_No" [placeholder]="'Building No'|translate" type="text" [(ngModel)]="propertyRegister.building_No" [disabled]="disable" ></div>
    </div>
    
    <div class="form-group row col-md-6">
      <label class="col-sm-3 col-form-label" for="Location_of_Property"
        translate="">Location of Property</label>
      <div class="col-sm-9">
        <input class="form-control" id="Location_of_Property"
          name="Location_of_Property" [placeholder]="'Location of Property'|translate" type="text" [(ngModel)]="propertyRegister.location_of_Property" [disabled]="disable"></div>
    </div>
    
    <div class="form-group row col-md-6"><label class="col-sm-3 col-form-label" for="Floor_No" translate="" >Floor No</label>
      <div class="col-sm-9">
        <input class="form-control" id="Floor_No" name="Floor_No" [(ngModel)]="propertyRegister.floor_No"
          [placeholder]="'Floor No'|translate" type="number" [disabled]="disable"></div>
    </div>
  
    <div class="form-group row col-md-6">
      <label  for="is_commerscial"  class="col-sm-3 col-form-label"  translate="">is_commerscial</label>
    <div class="col-sm-9">
     
    <p-checkbox  [(ngModel)]="propertyRegister.is_commerscial" name="is_commerscial" id="IsActive1"
      binary="true"></p-checkbox>
      </div>
  </div>


  </div>
  <button *ngIf="isnew" type="button" [ngClass]="{'blinking': !serviceService.ispropoertylocation}" class="btn btn-primary  ml-3" data-toggle="modal" data-target="#myModal" translate
    (click)="ismodaEnable=true">Spatial</button>&nbsp;
    <button *ngIf="isnew && !disable"    type="button" [disabled]="!f.valid" class="btn btn-primary" (click)="save();"
    translate>update</button>
    <span style="color:red;font-weight: bolder;font-size: large;" *ngIf="!serviceService.ispropoertylocation"
      translate>you need to save
      Property Location first</span>

  <button *ngIf="!isnew && !disable" type="button" [disabled]="!f.valid" class="btn btn-primary" (click)="confirmsave();"
    translate>Save</button>

</form>

<ngx-smart-modal #pic identifier="pic">
  <div style="width: 100%">

  </div>
  <div class="modal-header">
    <h4 class="modal-title pull-left" translate>Map Floor Plan</h4>
    </div>
  <div class="modal-body">

    <div>
      <img width="100%" [src]="pictoShow" alt="Map_Floor_Plan" />
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeModal('pic')" translate>Done</button>
  </div>
 
</ngx-smart-modal> 


<ngx-smart-modal  #templattte identifier="templattte">
  <ng-template #templattte >
  <div class="modal-content" [ngClass]="{ 'minimized-modal': isMinimized, 'maximized-modal': isMaximized }">

 
  <!-- Modal Header -->
  <div class="modal-header">
    <!-- <h4 class="modal-title" translate>Spatial</h4>
    <div style="float: left" class="modal-buttons">
      <button class="mini-button" (click)="setModalSize('mini' ,'templattte')">Mini</button>
      <button class="full-button" (click)="setModalSize('full','templattte')">Full</button>
    </div> -->

    <button class="modal-button m-2" (click)="openMiniModal()">-</button>
    <button class="modal-button m-2" (click)="openFullModal()">+</button>
    <button type="button" class="close" (click)="closeModall()">&times;</button>
  </div>

  <!-- Modal body -->


  <div class="modal-body">
    <div style="height: 500px; overflow: auto;">

      <app-gis-map [geo]="geo" [changingg]="changingValue"></app-gis-map>
      <form #location="ngForm" novalidate name="locationForm">
        <div class="form-row">
          <div class="form-group row col-md-6">
            <label class="col-sm-3 col-form-label" translate>plan Document</label>
            <div class="col-sm-9">
              <p-fileUpload #form1 customUpload="true" (uploadHandler)="planDocument($event,form1)"
                maxFileSize="25000000" accept="image/*"></p-fileUpload>

              <!-- <div *ngIf="propformLocation.plan_Document">
                <span translate class="text-danger">Requierd</span>
              </div> -->
              <!-- <div *ngIf="pictoShow">
                  <button type="button" class="btn btn-primary" (click)="openModal('pic')" translate>Show</button>
                </div> -->
            </div>
          </div>
          <div class="form-group row col-md-6">
            <label class="col-sm-3 col-form-label" translate>picture North</label>
            <div class="col-sm-9">
              <p-fileUpload #form2 customUpload="true" (uploadHandler)="pictureNorth($event,form2)"
                maxFileSize="25000000" accept="image/*"></p-fileUpload>


              <!-- <div *ngIf="MapFloorPlan.invalid">
                <span translate class="text-danger">Requierd</span>
              </div> -->
              <!-- <div *ngIf="pictoShow">
                <button type="button" class="btn btn-primary" (click)="openModal('pic')" translate>Show</button>
              </div> -->
            </div>
          </div>
          <div class="form-group row col-md-6">
            <label class="col-sm-3 col-form-label" translate>picture East</label>
            <div class="col-sm-9">
              <p-fileUpload #form3 customUpload="true" (uploadHandler)="pictureEast($event,form3)"
                maxFileSize="25000000" accept="image/*"></p-fileUpload>

              <!-- <div *ngIf="MapFloorPlan.invalid">
                <span translate class="text-danger">Requierd</span>
              </div> -->
              <!-- <div *ngIf="pictoShow">
                <button type="button" class="btn btn-primary" (click)="openModal('pic')" translate>Show</button>
              </div> -->
            </div>
          </div>
          <div class="form-group row col-md-6">
            <label class="col-sm-3 col-form-label" translate>picture South</label>
            <div class="col-sm-9">
              <p-fileUpload #form4 customUpload="true" (uploadHandler)="pictureSouth($event,form4)"
                maxFileSize="25000000" accept="image/*"></p-fileUpload>


              <!-- <div *ngIf="MapFloorPlan.invalid">
                <span translate class="text-danger">Requierd</span>
              </div> -->
              <!-- <div *ngIf="pictoShow">
              <button type="button" class="btn btn-primary" (click)="openModal('pic')" translate>Show</button>
            </div> -->
            </div>
          </div>
          <div class="form-group row col-md-6">
            <label class="col-sm-3 col-form-label" translate>picture West</label>
            <div class="col-sm-9">
              <p-fileUpload #form5 customUpload="true" (uploadHandler)="pictureWest($event,form5)"
                maxFileSize="25000000" accept="image/*"></p-fileUpload>

              <!-- <div *ngIf="MapFloorPlan.invalid">
                <span translate class="text-danger">Requierd</span>
              </div> -->
              <!-- <div *ngIf="pictoShow">
              <button type="button" class="btn btn-primary" (click)="openModal('pic')" translate>Show</button>
            </div> -->
            </div>
          </div>
          <div class="form-group row col-md-6">
            <label class="col-sm-3 col-form-label" for="Hight_Meter" translate="">Hight Meter</label>
            <div class="col-sm-9">
              <input class="form-control" id="Hight_Meter" name="Hight_Meter" [(ngModel)]="propformLocation.hight_Meter"
                [placeholder]="'Hight Meter'|translate" type="number" #Hight_Meter="ngModel"
                [ngClass]="{ 'is-invalid': Hight_Meter.invalid }" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div *ngIf="Hight_Meter.invalid">
            <span translate class="text-danger">Requierd</span>
          </div>
          <button type="button" class="btn btn-primary" (click)="saveproploc();closeModall()"
            *ngIf="!isproplocnew &&  !disable" [disabled]="!location.valid" translate>Save</button>
          <button type="button" class="btn btn-primary" (click)="updateproploc();closeModall()"
            *ngIf="isproplocnew &&  !disable" [disabled]="!location.valid" translate>Update</button>
          <button type="button" class="btn btn-danger" (click)="closeModall()" translate>Close</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal footer -->
</div>
</ng-template>
</ngx-smart-modal>

<p-dialog [header]="'Confirmation' | translate" [(visible)]="isconfirmsave" [responsive]="true" [width]="300"
  [minY]="40" [maximizable]="true" [baseZIndex]="10000" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
                         'max-height': '80vh','min-height':'50px'}">
<p translate>
  {{"Are you sure that you want to save?" | translate}}
</p>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="isconfirmsave=false;add()" [label]="'yes' | translate"></button>
    <button type="button" pButton icon="pi pi-close" (click)="isconfirmsave=false" [label]="'no'| translate "
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>




<div class="ngxsmartmodal" *ngIf="ismodaEnable"  >
  <div class="ngxsmartmodal-dialog" [style.max-width]="maxWidth">
    <div class="ngxsmartmodal-dialog-content" >
      <div class="ngxsmartmodal-header">
        <!-- Modal header content -->
        <button type="button" class="btn-secondary m-2" (click)="openMiniModal()">-</button>
        <button type="button" class="btn-secondary m-2" (click)="openFullModal()">+</button>
        <button type="button" class="close" (click)="ismodaEnable=false">&times;</button>
      </div>
   
      <div class="ngxsmartmodal-body">
            <app-gis-map [geo]="geo" [changingg]="changingValue"></app-gis-map>
            <form #location="ngForm" novalidate name="locationForm">
              <div class="form-row">
                <div class="form-group row col-md-6">
                  <label class="col-sm-3 col-form-label" translate>plan Document</label>
                  <div class="col-sm-9">
                    <p-fileUpload #form1 customUpload="true" (uploadHandler)="planDocument($event,form1)" maxFileSize="25000000"
                      accept="image/*"></p-fileUpload>
          
      
                  </div>
                </div>
                <div class="form-group row col-md-6">
                  <label class="col-sm-3 col-form-label" translate>picture North</label>
                  <div class="col-sm-9">
                    <p-fileUpload #form2 customUpload="true" (uploadHandler)="pictureNorth($event,form2)" maxFileSize="25000000"
                      accept="image/*"></p-fileUpload>
          
          
                  </div>
                </div>
                <div class="form-group row col-md-6">
                  <label class="col-sm-3 col-form-label" translate>picture East</label>
                  <div class="col-sm-9">
                    <p-fileUpload #form3 customUpload="true" (uploadHandler)="pictureEast($event,form3)" maxFileSize="25000000"
                      accept="image/*"></p-fileUpload>
          
                
                  </div>
                </div>
                <div class="form-group row col-md-6">
                  <label class="col-sm-3 col-form-label" translate>picture South</label>
                  <div class="col-sm-9">
                    <p-fileUpload #form4 customUpload="true" (uploadHandler)="pictureSouth($event,form4)" maxFileSize="25000000"
                      accept="image/*"></p-fileUpload>
          
          
                 
                  </div>
                </div>
                <div class="form-group row col-md-6">
                  <label class="col-sm-3 col-form-label" translate>picture West</label>
                  <div class="col-sm-9">
                    <p-fileUpload #form5 customUpload="true" (uploadHandler)="pictureWest($event,form5)" maxFileSize="25000000"
                      accept="image/*"></p-fileUpload>
          
                    
                  </div>
                </div>
                <div class="form-group row col-md-6">
                  <label class="col-sm-3 col-form-label" for="Hight_Meter" translate="">Hight Meter</label>
                  <div class="col-sm-9">
                    <input class="form-control" id="Hight_Meter" name="Hight_Meter" [(ngModel)]="propformLocation.hight_Meter"
                      [placeholder]="'Hight Meter'|translate" type="number" #Hight_Meter="ngModel"
                      [ngClass]="{ 'is-invalid': Hight_Meter.invalid }" required>
                  </div>
                </div>
              </div>
            
            </form>

      </div>
   
      <div class="ngxsmartmodal-footer">
        <!-- Modal footer content -->
          <div class="modal-footer">
            <div *ngIf="Hight_Meter.invalid">
              <span translate class="text-danger">Requierd</span>
            </div>
            <button type="button" class="btn btn-primary" (click)="saveproploc();ismodaEnable=false" *ngIf="!isproplocnew &&  !disable"
              [disabled]="!location.valid" translate>Save</button>
            <button type="button" class="btn btn-primary" (click)="updateproploc();ismodaEnable=false"
              *ngIf="isproplocnew &&  !disable" [disabled]="!location.valid" translate>Update</button>
            <button type="button" class="btn btn-danger" (click)="ismodaEnable=false" translate>Close</button>
          </div>
      </div>
    </div>
  </div>
</div>


