.ui-state-highlight {
    background:  rgb(13, 34, 75) !important;
    color: white;
  }
 

 /* Add styles for mini and full modal sizes */
 .modal-dialog {
   max-width: 100%;
   /* Adjust this as needed */
   width: auto !important;
   transition: all 0.3s ease-in-out;
 }

 /* Mini Size */
 .mini-size {
   max-width: 800px;
   /* Adjust the width as needed */
 }

 /* Full Size */
 .full-size  {
   max-width: 100%;
   /* Adjust the width as needed */
 }
 @keyframes blink {
   0% {
     opacity: 1;
   }

   50% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }

 .blinking {
   animation: blink 1s infinite;
 }

 .minimized-modal {
   width: 300px;
   /* Adjust the width as needed */
 }

 .maximized-modal {
   width: 100%;
   /* Full-width, can be adjusted as needed */
 }
 /* custom-modal.component.css */
 .field input[type="checkbox"] {
  width: 40px;
  height: 40px;
  margin-top: 5px; /* Adjust as needed for spacing */
  margin-left: 5px; /* Align the checkbox with the label */
}